@using SharedLayer;
@{
    ViewData["Title"] = "User";
    var userList = ViewData["UserList"] as List<UserData>;
    var urlgetuser = Url.Action("GetUser", "User");
    var urladduser = Url.Action("AddUser", "User");
    var urlupdateuser = Url.Action("UpdateUser", "User");
    var urldeleteuser = Url.Action("DeleteUser", "User");
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var tokens = Xsrf.GetAndStoreTokens(Context);
}

<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 subheader-negative-margin">
            <div class="subheader">
                <b>User</b>
            </div>
            <div class="table-container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <button onclick="editAction.apply(this)" type="button"
                        class="btn btn-primary custom btn-user-action btn-with-icon" attr-mode="create">
                        <i class="fa-solid fa-plus"></i> Add New
                    </button>
                    <div class="">
                        <div class="input-group input-group-sm input-search">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="bi bi-search"></i>
                            </span>
                            <input type="text" class="form-control form-control-sm" placeholder="Search"
                                oninput="dataTableSearch(this.value)">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered datatable" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Email</th>
                            <th>Role Name</th>
                            <th>Admin</th>
                            <th>Engineer</th>
                            <th>Viewer</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int ctr = 0;
                            if (userList != null)
                            {
                                foreach (var user in userList)
                                {
                                    ctr++;
                                    <tr style="margin: 0;padding;0;">
                                        <td>@ctr</td>
                                        <td>@user.Username</td>
                                        <td>@user.Role</td>
                                        <td>
                                            @if (user.IsAdmin == true)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                        </td>
                                        <td>
                                            @if (user.IsEngineer == true)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                        </td>
                                        <td>
                                            @if (user.IsViewer == true)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                        </td>
                                        <td>
                                            <button onclick="editAction.apply(this)"
                                                class="btn btn-custom-size btn-primary invert btn-with-icon btn-user-action"
                                                attr-mode="view" attr-itemid="@user.Id"><i
                                                    class="fa-solid fa-pencil"></i>Edit</button>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                </table>
            </div>
        </main>
    </div>
</div>

<div class="modal fade modal-xl" id="addUserModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="user-form common-form">
                <input type="hidden" name="__RequestVerificationToken" value="@tokens.RequestToken" />
                <input id="field-user-mode" type="hidden">
                <input id="field-user-id" name="userid" type="hidden">
                <div class="box">
                    <div class="subheader m-0">
                        <b>Add/Edit New user</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-container">
                            <div class="form-grid">
                                <div class="form-group-inline">
                                    <label for="field-username">Email</label>
                                    <input id="field-username" type="email" name="username" class="form-control"
                                        placeholder="Email" required>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-isadmin">Admin</label>
                                    <input type="checkbox" id="field-isadmin" name="isadmin" class="form-control">
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-password">Password</label>
                                    <input type="password" id="field-password" name="password" class="form-control"
                                        required>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-isengineer">Engineer</label>
                                    <input type="checkbox" id="field-isengineer" name="isengineer" class="form-control">
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-role">Role Name</label>
                                    <input id="field-role" name="role" class="form-control" placeholder="Role Name"
                                        required>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-isviewer">Viewer</label>
                                    <input type="checkbox" id="field-isviewer" name="isviewer" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" id="btn-user-modal-save" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-primary btn btn-secondary cancel-button"
                                data-bs-dismiss="modal">Cancel</button>
                            <button type="button" id="btn-user-modal-delete"
                                class="pull-left btn btn-danger delete-button">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer modalinfo">
                <div id="record-info">
                    <small id="record-meta" class="pull-right-small-gray"></small>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="urlgetuser" value="@urlgetuser">
<input type="hidden" id="urladduser" value="@urladduser">
<input type="hidden" id="urlupdateuser" value="@urlupdateuser">
<input type="hidden" id="urldeleteuser" value="@urldeleteuser">

@section Scripts {
    <script src="~/js/user.js"></script>
}