@{
    string IsLogin = ViewData["IsLogin"] as string;
    string Username = ViewData["Username"] as string;
    string Role = ViewData["Role"] as string;
    string IsAdmin = ViewData["IsAdmin"] as string;
    string IsEngineer = ViewData["IsEngineer"] as string;
    string IsViewer = ViewData["IsViewer"] as string;
    string urllogout = Url.Action( "Logout", "Login");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Riskvalve</title>
    <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
    <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.3/b-3.0.1/b-html5-3.0.1/datatables.min.css"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Riskvalve.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/css/datepicker.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/lib/treejs/tree.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" asp-append-version="true" />
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden;
        }
    </style>
</head>

@if (IsLogin.ToLower().Equals("true"))
{

    <body>
    <header class="navbar flex-md-nowrap p-0">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">
            <img src="~/lib/images/u45.png" style="height:62px" />
        </a>
        <ul class="navbar-nav navbar-main flex-row" style="flex:1">
            <li class="nav-item text-nowrap">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link px-3 text-white">
                    Home
                </a>
            </li>
            @if (IsEngineer.ToLower().Equals("true"))
                {
                    <li class="nav-item dropdown text-nowrap">
                        <a class="nav-link dropdown-toggle px-3 text-white" href="#" id="navbarDropdownAsset" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Asset Register
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownAsset">
                            <li><a class="dropdown-item" asp-area="" asp-controller="AssetRegister" asp-action="Area">Area</a>
                            </li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="AssetRegister"
                                    asp-action="Platform">Platform</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="AssetRegister" asp-action="Asset">Asset</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown text-nowrap">
                        <a class="nav-link dropdown-toggle px-3 text-white" id="navbarDropdownIMR" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" asp-area="" asp-controller="Inspection"
                            asp-action="Index">
                            IMR
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownIMR">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Inspection"
                                    asp-action="Index">Inspection</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Maintenance"
                                    asp-action="Index">Maintenance</a></li>
                        </ul>
                    </li>
                    <li class="nav-item text-nowrap">
                        <a class="nav-link px-3 text-white" asp-area="" asp-controller="Assessment" asp-action="Index">
                            Assessment
                        </a>
                    </li>
                    <li class="nav-item text-nowrap dropdown">
                        <a class="nav-link dropdown-toggle px-3 text-white" href="#" id="navbarDropdownTool" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Tool
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownTool">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Tool"
                                    asp-action="ImportAssetRegister">Import
                                    Asset Register</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Tool"
                                    asp-action="ImportInspectionMaintenance">Import
                                    Inspection / Maintenance</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Tool" asp-action="ImportAssessment">Import
                                    Assessment</a></li>
                        </ul>
                    </li>
                }
                @if (IsAdmin.ToLower().Equals("true"))
                {
                    <li class="nav-item text-nowrap">
                        <a asp-area="" asp-controller="User" asp-action="Index" class="nav-link px-3 text-white">
                            User
                        </a>
                    </li>
                }
                @* <li class="nav-item text-nowrap">
                    <a class="nav-link px-3 text-white" href="#">
                        Help
                    </a>
                </li> *@
            </ul>
            <ul class="navbar-nav flex-row mx-3">
                <li class="nav-item text-nowrap">
                    <a id="btn-signout" class="nav-link px-3 text-white profile-nav-item" href="#">
                        <div>
                            <b>@Username</b><br />
                            <small>@Role</small>
                        </div>
                        <img src="~/lib/images/u48.svg" style="height:50px" />
                    </a>
                </li>
                <li id="btn-signout-icon" class="nav-item text-nowrap" style="display: flex; align-items: center;">
                    <button class="nav-link px-3 text-white" type="button">
                        <img src="~/lib/images/u50.svg" style="height:20px" />
                    </button>
                </li>
            </ul>
            <ul class="navbar-nav flex-row d-md-none">
                <li class="nav-item text-nowrap">
                    <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#sidebarMenu" aria-controls="sxidebarMenu" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <svg class="bi">
                            <use xlink:href="#list" />
                        </svg>
                    </button>
                </li>
            </ul>
        </header>
        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </body>
}
else
{

    <body>
    @RenderBody()
</body>
}
<script src="~/lib/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js"
    integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp"
    crossorigin="anonymous"></script>
<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://github.com/makeusabrew/bootbox/releases/download/v6.0.0/bootbox.all.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.3/b-3.0.1/b-html5-3.0.1/datatables.min.js"></script>
@*<link rel="stylesheet" href="~/lib/treejs/tree.css" asp-append-version="true" />*@
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="~/lib/js/datepicker.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
@Html.RenderPartialSectionScripts()
<script>
    $(document).ready(function () {
        $("#btn-signout, #btn-signout-icon").click(function () {
            if (confirm('Are you sure you want to sign out?')) {
                var path = "@urllogout";
                location.href = path;
            }
        });
    });
</script>

</html>
