@using SharedLayer
@{
    var inspectionSidebar = ViewData["InspectionSidebar"] as List<SidebarData>;
    var pageType = ViewData["PageType"] as string ?? "";
    var urldeleteasset = Url.Action("DeleteAsset", "AssetRegister");

    var urlgetassetsidebar = Url.Action("GetAssetSidebar", "AssetRegister");
    var urlgetinspectionsidebar = Url.Action("GetInspectionSidebar", "Inspection");
    var urlgetmaintenancesidebar = Url.Action("GetMaintenanceSidebar", "Maintenance");
    var urlgetassessmentsidebar = Url.Action("GetAssessmentSidebar", "Assessment");
    var urllevel4 = pageType.ToLower() == "inspection" ? urlgetinspectionsidebar : pageType.ToLower() == "maintenance" ?
    urlgetmaintenancesidebar : urlgetassessmentsidebar;
    var urlassetsearch = Url.Action("GetAssetSidebarSearch", "AssetRegister");
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var tokens = Xsrf.GetAndStoreTokens(Context);
}

<aside class="main-sidebar">
    <div class="loader">
        <div class="lds-dual-ring"></div>
    </div>
    <div class="inspection-sidebar-container">
        <section class="sidebar inspection-sidebar" id="tree-menu">
            <form class="form-inline" role="form">
                <div class="position-relative">
                    <input type="text" class="form-control" id="searchForm"
                        placeholder="Search Area / Platform / Asset">
                    <div class="search-button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            </form>
            <ul class="sidebar-menu-inspection-assessment">
                @if (inspectionSidebar != null)
                {
                    @foreach (var item in inspectionSidebar as List<SidebarData>)
                    {
                        <li class="treeview">
                            <a class="sidebartreea" onclick="sidebarClick.apply(this)" attr-sidebar-level="1"
                                attr-find-inspection="@item.Name">@item.Name</a>
                            <ul class="treeview-menu">
                                @{
                                    var platforms = item.Child as List<SidebarData>;
                                    if (platforms != null)
                                    {
                                        foreach (var platform in platforms)
                                        {
                                            <li class="treeview">
                                                <a class="sidebartreea" onclick="sidebarClick.apply(this)" attr-sidebar-level="2"
                                                    attr-find-inspection="@item.Name" attr-find-platform="@platform.Name"
                                                    attr-find-platformid="@platform.Id">@platform.Name</a>
                                                <ul class="treeview-menu" attr-find-forsearch="@item.Name-@platform.Name">
                                                </ul>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </section>
    </div>

</aside>
<input type="hidden" id="urldeleteasset" value="@urldeleteasset">
<input type="hidden" id="urlgetassetsidebar" value="@urlgetassetsidebar">
<input type="hidden" id="pageType" value="@pageType">
<input type="hidden" id="urllevel4" value="@urllevel4">
<input type="hidden" id="urlassetsearch" value="@urlassetsearch">

@Html.PartialSectionScripts(
    @<script src="~/js/inspection-assessment-sidebar.js"></script>
)