@{
    var inspectionSidebar = ViewData["InspectionSidebar"] as List<InspectionSidebarModel>;
    var pageType = ViewData["PageType"] as string;
}

<aside class="main-sidebar">
    <section class="sidebar" id="tree-menu">
        <form class="form-inline" role="form" style="margin-left:20px; margin-bottom:20px">
            <div class="form-group">
                <input type="text" class="form-control" id="searchForm" placeholder="Search">
            </div>
        </form>
        <ul class="sidebar-menu-inspection-assesment">
            @if (inspectionSidebar != null)
            {
                @foreach (var item in inspectionSidebar as List<InspectionSidebarModel>)
                {
                    <li class="treeview">
                        <a class="sidebartreea" attr-sidebar-level="1" attr-find-inspection="@item.Name">@item.Name</a>
                        <ul class="treeview-menu">
                            @foreach (var platform in item.Child as List<InspectionSidebarModel>)
                            {
                                <li class="treeview">
                                    <a class="sidebartreea" attr-sidebar-level="2" attr-find-inspection="@item.Name"
                                        attr-find-platform="@platform.Name">@platform.Name</a>
                                    <ul class="treeview-menu">
                                        @foreach (var equipment in platform.Child)
                                        {
                                            <li class="treeview">
                                                <a class="sidebartreea" attr-sidebar-level="3" attr-find-inspection="@item.Name"
                                                    attr-find-platform="@platform.Name"
                                                    attr-find-equipment="@equipment.Name">@equipment.Name</a>
                                                <ul class="treeview-menu">
                                                    <li class="treeview">
                                                        <a class="btn-add-new-inspection" attr-id="@equipment.Id"
                                                            attr-name="@equipment.Name" attr-sidebar-level="4"
                                                            attr-find-inspection="@item.Name" attr-find-platform="@platform.Name"
                                                            attr-find-equipment="@equipment.Name" attr-find-imr="NEW">[Add New
                                                            @pageType]</a>
                                                    </li>
                                                    @*foreach (var inspection in equipment.Child)
                                    {
                                    <li class="treeview">
                                    <a>@equipment.Name</a>
                                    </li>
                                    }*@
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    </section>
</aside>

@Html.PartialSectionScripts(
@<script>
    function close_inspection(ctr) {
        bootbox.confirm({
            message: "Are you sure you want to close this assesment?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $('#inspectionheader' + ctr).remove();
                    $('#inspection' + ctr).remove();
                    var lasttab = $('#inspectiontabheader li:last-child');
                    lasttab.find('a').click();
                }
            }
        });
    }

    function fold_all_sidebar_menu() {
        for (var i = 2; i <= 4; i++) {
            $('.sidebar-menu-inspection-assesment').find('a[attr-sidebar-level="' + i + '"]').each(function () {
                var parent = $(this).parent();
                parent.hide();
            });
        }
    }
    $(document).ready(function () {
        fold_all_sidebar_menu();
        $("#searchForm").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            if (value == '') {
                $(".sidebar-menu-inspection-assesment li").filter(function () {
                    $(this).show();
                });
                fold_all_sidebar_menu();
            } else {
                $(".sidebar-menu-inspection-assesment li").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            }
        });

        $('.sidebartreea').click(function () {
            for (var i = 2; i <= 4; i++) {
                $('.sidebar-menu-inspection-assesment').find('a[attr-sidebar-level="' + i + '"]').each(function () {
                    var parent = $(this).parent();
                    parent.hide();
                });
            }
            var level = $(this).attr('attr-sidebar-level');
            var level_1 = $(this).attr('attr-find-inspection');
            var level_2 = $(this).attr('attr-find-platform');
            var level_3 = $(this).attr('attr-find-equipment');

            if (level == 3) {
                $('.sidebar-menu-inspection-assesment').find('a[attr-sidebar-level="2"]').each(function () {
                    var parent = $(this).parent();
                    if ($(this).attr('attr-find-inspection') != level_1) {
                        parent.hide();
                    }
                    else {
                        parent.show();
                    }
                });
                $('.sidebar-menu-inspection-assesment').find('a[attr-sidebar-level="3"]').each(function () {
                    var parent = $(this).parent();
                    if ($(this).attr('attr-find-platform') != level_2) {
                        parent.hide();
                    }
                    else {
                        parent.show();
                    }
                });
                $('.sidebar-menu-inspection-assesment').find('a[attr-sidebar-level="4"]').each(function () {
                    var parent = $(this).parent();
                    if ($(this).attr('attr-find-equipment') != level_3) {
                        parent.hide();
                    }
                    else {
                        parent.show();
                    }
                });
            } else if (level == 2) {
                $('.sidebar-menu-inspection-assesment').find('a[attr-sidebar-level="2"]').each(function () {
                    var parent = $(this).parent();
                    if ($(this).attr('attr-find-inspection') != level_1) {
                        parent.hide();
                    }
                    else {
                        parent.show();
                    }
                });
                $('.sidebar-menu-inspection-assesment').find('a[attr-sidebar-level="3"]').each(function () {
                    var parent = $(this).parent();
                    if ($(this).attr('attr-find-platform') != level_2) {
                        parent.hide();
                    }
                    else {
                        parent.show();
                    }
                });
                $('.sidebar-menu-inspection-assesment').find('a[attr-sidebar-level="4"]').each(function () {
                    var parent = $(this).parent();
                    parent.hide();
                });
            } else if (level == 1) {
                $('.sidebar-menu-inspection-assesment').find('a[attr-sidebar-level="2"]').each(function () {
                    var parent = $(this).parent();
                    if ($(this).attr('attr-find-inspection') != level_1) {
                        parent.hide();
                    }
                    else {
                        parent.show();
                    }
                });
                $('.sidebar-menu-inspection-assesment').find('a[attr-sidebar-level="3"]').each(function () {
                    var parent = $(this).parent();
                    parent.hide();
                });
                $('.sidebar-menu-inspection-assesment').find('a[attr-sidebar-level="4"]').each(function () {
                    var parent = $(this).parent();
                    parent.hide();
                });
            }
        });

    @* fold_all_sidebar_menu(); *@
        });
</script>
    )