@{
    var inspectionSidebar = ViewData["InspectionSidebar"] as List<InspectionSidebarModel>;
    var pageType = ViewData["PageType"] as string;
}

<aside class="main-sidebar">
    <div class="inspection-sidebar-container">
        <section class="sidebar inspection-sidebar" id="tree-menu">
            <form class="form-inline" role="form">
                <div class="position-relative">
                    <input type="text" class="form-control" id="searchForm" placeholder="Search Area / Platform / Asset">
                    <div class="search-button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            </form>
            <ul class="sidebar-menu-inspection-assessment">
                @if (inspectionSidebar != null)
                {
                    @foreach (var item in inspectionSidebar as List<InspectionSidebarModel>)
                    {
                        <li class="treeview">
                            <a class="sidebartreea" attr-sidebar-level="1" attr-find-inspection="@item.Name">@item.Name</a>
                            <ul class="treeview-menu">
                                @foreach (var platform in item.Child as List<InspectionSidebarModel>)
                                {
                                    <li class="treeview">
                                        <a class="sidebartreea" attr-sidebar-level="2" attr-find-inspection="@item.Name"
                                            attr-find-platform="@platform.Name">@platform.Name</a>
                                        <ul class="treeview-menu">
                                            @foreach (var equipment in platform.Child)
                                            {
                                                <li class="treeview">
                                                    <a class="sidebartreea" attr-sidebar-level="3" attr-find-inspection="@item.Name"
                                                        attr-find-platform="@platform.Name"
                                                        attr-find-equipment="@equipment.Name">@equipment.Name</a>
                                                    <ul class="treeview-menu" equipment-id="@equipment.Id">
                                                        <li class="treeview">
                                                            <a class="btn-add-new-inspection" attr-id="@equipment.Id"
                                                                attr-name="@equipment.Name" attr-sidebar-level="4"
                                                                attr-find-inspection="@item.Name" attr-find-platform="@platform.Name"
                                                                attr-find-equipment="@equipment.Name" attr-find-imr="NEW">[Add New
                                                                @pageType]</a>
                                                        </li>
                                                        @foreach (var inspection in equipment.Child)
                                                        {
                                                            <li class="treeview">
                                                                <a class="btn-add-new-inspection" history-button attr-id="@equipment.Id" attr-inspection-id="@inspection.Id"
                                                                    attr-name="@equipment.Name @inspection.Name" attr-sidebar-level="4"
                                                                    attr-find-inspection="@item.Name" attr-find-platform="@platform.Name"
                                                                    attr-find-equipment="@equipment.Name"
                                                                    attr-find-imr="NEW">@inspection.Name</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </section>
    </div>

</aside>

@Html.PartialSectionScripts(
@<script>
    function close_inspection(ctr, force) {
        if(force || confirm('Are you sure you want to close this assessment?')) {
            $('#inspectionheader' + ctr).remove();
            $('#inspection' + ctr).remove();
            moveToLastTab()
        }
    }

    function moveToLastTab() {
        var lastTabEl = document.querySelector('#inspectiontabheader li:last-child a');
        const lastTab = new bootstrap.Tab(lastTabEl)
        lastTab.show()
    }

    function fold_all_sidebar_menu() {
        for (var i = 2; i <= 4; i++) {
            $('.sidebar-menu-inspection-assessment').find('a[attr-sidebar-level="' + i + '"]').each(function () {
                var parent = $(this).parent();
                parent.hide();
            
            });
        }
    }
    $(document).ready(function () {
        fold_all_sidebar_menu();
        $("#searchForm").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            if (value == '') {
                $(".sidebar-menu-inspection-assessment li").filter(function () {
                    $(this).show();
                });
                fold_all_sidebar_menu();
            } else {
                $(".sidebar-menu-inspection-assessment li").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            }
        });

        $('.sidebartreea').click(function () {
            $('.sidebartreea').removeClass('selected')
            $(this).addClass('selected')
            for (var i = 2; i <= 4; i++) {
                $('.sidebar-menu-inspection-assessment').find('a[attr-sidebar-level="' + i + '"]').each(function () {
                    var parent = $(this).parent();
                    parent.hide();
                
                });
            }
            var level = $(this).attr('attr-sidebar-level');
            var level_1 = $(this).attr('attr-find-inspection');
            var level_2 = $(this).attr('attr-find-platform');
            var level_3 = $(this).attr('attr-find-equipment');
            let selectedEl = $(this)
            selectedEl.toggleClass('child-open')
            const isChildOpening = selectedEl.hasClass('child-open')
            if(!isChildOpening) {
                selectedEl.closest('.treeview').find('a').removeClass('child-open')
            } else {
                selectedEl.closest('.treeview').siblings().each(function () {
                    $(this).find('a').removeClass('child-open')
                })
            }

            if (level == 3) {
                $('.sidebar-menu-inspection-assessment').find('a[attr-sidebar-level="2"]').each(function () {
                    var parent = $(this).parent();
                    if ($(this).attr('attr-find-inspection') != level_1) {
                        parent.hide();
                    }
                    else {
                        parent.show();
                    }
                });
                $('.sidebar-menu-inspection-assessment').find('a[attr-sidebar-level="3"]').each(function () {
                    var parent = $(this).parent();
                    if ($(this).attr('attr-find-platform') != level_2) {
                        parent.hide();
                    }
                    else {
                        parent.show();
                    }
                });
                $('.sidebar-menu-inspection-assessment').find('a[attr-sidebar-level="4"]').each(function () {
                    var parent = $(this).parent();
                    if ($(this).attr('attr-find-equipment') != level_3  || !isChildOpening) {
                        parent.hide();
                    }
                    else {
                        parent.show();
                    }
                });
            } else if (level == 2) {
                $('.sidebar-menu-inspection-assessment').find('a[attr-sidebar-level="2"]').each(function () {
                    var parent = $(this).parent();
                    if ($(this).attr('attr-find-inspection') != level_1) {
                        parent.hide();
                    }
                    else {
                        parent.show();
                    }
                });
                $('.sidebar-menu-inspection-assessment').find('a[attr-sidebar-level="3"]').each(function () {
                    var parent = $(this).parent();
                    if ($(this).attr('attr-find-platform') != level_2 || !isChildOpening) {
                        parent.hide();
                    }
                    else {
                        parent.show();
                    }
                });
                $('.sidebar-menu-inspection-assessment').find('a[attr-sidebar-level="4"]').each(function () {
                    var parent = $(this).parent();
                    parent.hide();
                });
            } else if (level == 1) {
                $('.sidebar-menu-inspection-assessment').find('a[attr-sidebar-level="2"]').each(function () {
                    var parent = $(this).parent();
                    if ($(this).attr('attr-find-inspection') != level_1 || !isChildOpening) {
                        parent.hide();
                    }
                    else {
                        parent.show();
                    }
                });
                $('.sidebar-menu-inspection-assessment').find('a[attr-sidebar-level="3"]').each(function () {
                    var parent = $(this).parent();
                    parent.hide();
                });
                $('.sidebar-menu-inspection-assessment').find('a[attr-sidebar-level="4"]').each(function () {
                    var parent = $(this).parent();
                    parent.hide();
                });
            }
        });

    @* fold_all_sidebar_menu(); *@
        });
</script>
    )