@using SharedLayer
@{
    var platformList = ViewData["platformList"] as List<PlatformData>;
    var valveTypeList = ViewData["valveTypeList"] as List<ValveTypeData>;
    var manualOverrideList = ViewData["manualOverrideList"] as List<ManualOverrideData>;
    var fluidPhaseList = ViewData["FluidPhaseList"] as List<FluidPhaseData>;
    var toxicOrFlamableFluidList = ViewData["ToxicOrFlamableFluidList"] as List<ToxicOrFlamableFluidData>;
    var urlgetassetdetail = Url.Action("GetAssetDetail", "AssetRegister");
    var urladdasset = Url.Action("AddAsset", "AssetRegister");
    var urlupdateasset = Url.Action("UpdateAsset", "AssetRegister");
    var urldeleteasset = Url.Action("DeleteAsset", "AssetRegister");
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var tokens = Xsrf.GetAndStoreTokens(Context);
}

<div class="modal fade" id="addAssetModal" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form id="asset-form" class="common-form">
                <input type="hidden" name="__RequestVerificationToken" value="@tokens.RequestToken" />
                <input id="field-asset-mode" type="hidden" />
                <input id="field-asset-id" name="assetid" type="hidden" />
                <div class="box">
                    <div class="subheader m-0">
                        <b>Asset Information</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-container">
                            <div class="form-grid">
                                <div class="form-group-inline">
                                    <label for="field-asset-id">Asset ID</label>
                                    <input id="field-asset-id-show" name="assetid" type="text" class="form-control"
                                        readonly />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-classrating">Class Rating</label>
                                    <input id="field-asset-classrating" name="classrating" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-tagno">Tag No</label>
                                    <input id="field-asset-tagno" name="tagno" type="text" class="form-control"
                                        required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-parentequipmentno">Parent Equipment No</label>
                                    <input id="field-asset-parentequipmentno" name="parentequipmentno" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-platform">Platform</label>
                                    <select id="field-asset-platform" name="platform" class="form-control" required>
                                        <option value="" selected disabled>-- Select Platform --</option>
                                        @{
                                            if(platformList != null){
                                                foreach (var item in platformList)
                                                {
                                                    <option value="@item.Id">@item.BusinessArea: @item.Platform</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-parentequipmentdescription">Parent Equipment
                                        Description</label>
                                    <input id="field-asset-parentequipmentdescription" name="parentequipmentdescription"
                                        type="text" class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-valvetype">Valve Type</label>
                                    <select id="field-asset-valvetype" name="valvetype" class="form-control" required>
                                        <option value="" selected disabled>-- Select Valve Type --</option>
                                        @{
                                            if(valveTypeList != null)
                                            {
                                                foreach (var item in valveTypeList)
                                                {
                                                    <option value="@item.Id">@item.ValveType</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-installationdate">Installation Date</label>
                                    <input id="field-asset-installationdate" name="installationdate" type="text"
                                        class="form-control datepicker" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-size">Size (inch)</label>
                                    <input id="field-asset-size" name="size" type="number" class="form-control"
                                        required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-pidno">PID Number</label>
                                    <input id="field-asset-pidno" name="pidno" type="text" class="form-control"
                                        required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-equipmentname">Equipment Name</label>
                                    <input id="field-asset-equipmentname" name="equipmentname" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-replacementcost">Cost of Replacement & Repair (USD)</label>
                                    <input id="field-asset-replacementcost" name="replacementcost" type="number"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-status">Status</label>
                                    <select id="field-asset-status" name="status" class="form-control" required>
                                        <option value="" selected disabled>-- Select Status --</option>
                                        <option value="in-service">In-Service</option>
                                        <option value="waiting for refurbishment">Waiting for Refurbishment</option>
                                        <option value="spare">Spare</option>
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-usagetype">Usage Type</label>
                                    <select id="field-asset-usagetype" name="usagetype" class="form-control" required>
                                        <option value="" selected disabled>-- Select Usage Type --</option>
                                        <option value="manual valve">Manual Valve</option>
                                        <option value="auto on-off valve">Auto On-Off Valve</option>
                                        <option value="control valve">Control Valve</option>
                                        <option value="psv/prv">PSV/PRV</option>
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-actuation">Actuation</label>
                                    <select id="field-asset-actuation" name="actuation" class="form-control" required>
                                        <option value="" selected disabled>-- Select Actuation --</option>
                                        <option value="pneumatic">Pneumatic</option>
                                        <option value="hydraulic">Hydraulic</option>
                                        <option value="manual">Manual</option>
                                        <option value="n/a">N/A</option>
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subheader">
                        <b>Material Value</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-container">
                            <div class="form-grid">
                                <div class="form-group-inline">
                                    <label for="field-asset-manufacturer">Manufacturer</label>
                                    <input id="field-asset-manufacturer" name="manufacturer" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-manualoverride">Manual Override</label>
                                    <select id="field-asset-manualoverride" name="manualoverride" class="form-control"
                                        required>
                                        <option value="" selected disabled>-- Select Manual Override --</option>
                                        @{
                                            if(manualOverrideList != null)
                                            {
                                                foreach (var item in manualOverrideList)
                                                {
                                                    <option value="@item.Id">@item.ManualOverride</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-bodymodel">Body Model</label>
                                    <input id="field-asset-bodymodel" name="bodymodel" type="text" class="form-control"
                                        required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-actuatormfg">Actuator Mfg</label>
                                    <input id="field-asset-actuatormfg" name="actuatormfg" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-bodymaterial">Body Material</label>
                                    <input id="field-asset-bodymaterial" name="bodymaterial" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-actuatorserialno">Actuator Serial No.</label>
                                    <input id="field-asset-actuatorserialno" name="actuatorserialno" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-endconnection">End Connection</label>
                                    <input id="field-asset-endconnection" name="endconnection" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-actuatortypemodel">Actuator Type/Model</label>
                                    <input id="field-asset-actuatortypemodel" name="actuatortypemodel" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-serialno">Serial No</label>
                                    <input id="field-asset-serialno" name="serialno" type="text" class="form-control"
                                        required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-actuatorpower">Actuator Power</label>
                                    <input id="field-asset-actuatorpower" name="actuatorpower" type="text"
                                        class="form-control" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subheader">
                        <b>Operation & Fluid</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-container">
                            <div class="form-grid">
                                <div class="form-group-inline">
                                    <label for="field-asset-operatingtemperature">Operating Temperature (F)</label>
                                    <input id="field-asset-operatingtemperature" name="operatingtemperature"
                                        type="number" class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-servicefluid">Service Fluid</label>
                                    <input id="field-asset-servicefluid" name="servicefluid" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-operatingpressure">Operating Pressure (Psig)</label>
                                    <input id="field-asset-operatingpressure" name="operatingpressure" type="number"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-fluidphase">Fluid Phase</label>
                                    <select id="field-asset-fluidphase" name="fluidphase" class="form-control" required>
                                        <option value="" selected disabled>-- Select Fluid Phase --</option>
                                        @{
                                            if(fluidPhaseList != null)
                                            {
                                                foreach (var item in fluidPhaseList)
                                                {
                                                    <option value="@item.Id">@item.FluidPhase</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-flowrate">Flow Rate (m3/hr)</label>
                                    <input id="field-asset-flowrate" name="flowrate" type="number" class="form-control"
                                        required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-toxicorflamablefluid">Toxic or Flamable Fluid</label>
                                    <select id="field-asset-toxicorflamablefluid" name="toxicorflamablefluid"
                                        class="form-control" required>
                                        <option value="" selected disabled>-- Select Toxic or Flamable Fluid --</option>
                                        @{
                                            if(toxicOrFlamableFluidList != null)
                                            {
                                                foreach (var item in toxicOrFlamableFluidList)
                                                {
                                                    <option value="@item.Id">@item.ToxicOrFlamableFluid</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" id="btn-asset-modal-save" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-primary btn btn-secondary cancel-button"
                                data-bs-dismiss="modal">Cancel</button>
                            <button type="button" id="btn-asset-modal-delete"
                                class="pull-left btn btn-danger delete-button">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer modalinfo">
                <div id="record-info">
                    <small id="record-meta" class="pull-right-small-gray"></small>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="urlgetassetdetail" value="@urlgetassetdetail">
<input type="hidden" id="urladdasset" value="@urladdasset">
<input type="hidden" id="urlupdateasset" value="@urlupdateasset">
<input type="hidden" id="urldeleteasset" value="@urldeleteasset">
@Html.PartialSectionScripts(
    @<script src='~/js/asset/modalasset.js' asp-append-version="true"></script>
)