@using SharedLayer
@{
    var platformList = ViewData["platformList"] as List<PlatformData>;
    var valveTypeList = ViewData["valveTypeList"] as List<ValveTypeData>;
    var manualOverrideList = ViewData["manualOverrideList"] as List<ManualOverrideData>;
    var fluidPhaseList = ViewData["FluidPhaseList"] as List<FluidPhaseData>;
    var toxicOrFlamableFluidList = ViewData["ToxicOrFlamableFluidList"] as List<ToxicOrFlamableFluidData>;
    var urlgetassetdetail = Url.Action("GetAssetDetail", "AssetRegister");
    var urladdasset = Url.Action("AddAsset", "AssetRegister");
    var urlupdateasset = Url.Action("UpdateAsset", "AssetRegister");
    var urldeleteasset = Url.Action("DeleteAsset", "AssetRegister");
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var tokens = Xsrf.GetAndStoreTokens(Context);
}

<div class="modal fade" id="addAssetModal" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form id="asset-form" class="common-form">
                <input id="field-asset-mode" type="hidden" />
                <input id="field-asset-id" name="assetid" type="hidden" />
                <div class="box">
                    <div class="subheader m-0">
                        <b>Asset Information</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-container">
                            <div class="form-grid">
                                <div class="form-group-inline">
                                    <label for="field-asset-id">Asset ID</label>
                                    <input id="field-asset-id-show" name="assetid" type="text" class="form-control"
                                        readonly />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-classrating">Class Rating</label>
                                    <input id="field-asset-classrating" name="classrating" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-tagno">Tag No</label>
                                    <input id="field-asset-tagno" name="tagno" type="text" class="form-control"
                                        required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-parentequipmentno">Parent Equipment No</label>
                                    <input id="field-asset-parentequipmentno" name="parentequipmentno" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-platform">Platform</label>
                                    <select id="field-asset-platform" name="platform" class="form-control" required>
                                        <option value="">Select Platform</option>
                                        @{
                                            if(platformList != null){
                                                foreach (var item in platformList)
                                                {
                                                    <option value="@item.Id">@item.BusinessArea: @item.Platform</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-parentequipmentdescription">Parent Equipment
                                        Description</label>
                                    <input id="field-asset-parentequipmentdescription" name="parentequipmentdescription"
                                        type="text" class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-valvetype">Valve Type</label>
                                    <select id="field-asset-valvetype" name="valvetype" class="form-control" required>
                                        <option value="">Select Valve Type</option>
                                        @{
                                            if(valveTypeList != null)
                                            {
                                                foreach (var item in valveTypeList)
                                                {
                                                    <option value="@item.Id">@item.ValveType</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-installationdate">Installation Date</label>
                                    <input id="field-asset-installationdate" name="installationdate" type="text"
                                        class="form-control datepicker" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-size">Size (inch)</label>
                                    <input id="field-asset-size" name="size" type="number" class="form-control"
                                        required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-pidno">PID Number</label>
                                    <input id="field-asset-pidno" name="pidno" type="text" class="form-control"
                                        required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-equipmentname">Equipment Name</label>
                                    <input id="field-asset-equipmentname" name="equipmentname" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-replacementcost">Cost of Replacement & Repair (USD)</label>
                                    <input id="field-asset-replacementcost" name="replacementcost" type="number"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-status">Status</label>
                                    <select id="field-asset-status" name="status" class="form-control" required>
                                        <option value="In-service">In-service</option>
                                        <option value="Waiting for Refurbishment">Waiting for Refurbishment</option>
                                        <option value="Spare">Spare</option>
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-usagetype">Usage Type</label>
                                    <select id="field-asset-usagetype" name="usagetype" class="form-control" required>
                                        <option value="Manual Valve">Manual Valve</option>
                                        <option value="Auto On-Off Valve">Auto On-Off Valve</option>
                                        <option value="Control Valve">Control Valve</option>
                                        <option value="PSV/PRV">PSV/PRV</option>
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-actuation">Actuation</label>
                                    <select id="field-asset-actuation" name="actuation" class="form-control" required>
                                        <option value="Pneumatic">Pneumatic</option>
                                        <option value="Hydraulic">Hydraulic</option>
                                        <option value="Manual">Manual</option>
                                        <option value="N/A">N/A</option>
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subheader">
                        <b>Material Value</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-container">
                            <div class="form-grid">
                                <div class="form-group-inline">
                                    <label for="field-asset-manufacturer">Manufacturer</label>
                                    <input id="field-asset-manufacturer" name="manufacturer" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-manualoverride">Manual Override</label>
                                    <select id="field-asset-manualoverride" name="manualoverride" class="form-control"
                                        required>
                                        <option value="">Select Manual Override</option>
                                        @{
                                            if(manualOverrideList != null)
                                            {
                                                foreach (var item in manualOverrideList)
                                                {
                                                    <option value="@item.Id">@item.ManualOverride</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-bodymodel">Body Model</label>
                                    <input id="field-asset-bodymodel" name="bodymodel" type="text" class="form-control"
                                        required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-actuatormfg">Actuator Mfg</label>
                                    <input id="field-asset-actuatormfg" name="actuatormfg" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-bodymaterial">Body Material</label>
                                    <input id="field-asset-bodymaterial" name="bodymaterial" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-actuatorserialno">Actuator Serial No.</label>
                                    <input id="field-asset-actuatorserialno" name="actuatorserialno" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-endconnection">End Connection</label>
                                    <input id="field-asset-endconnection" name="endconnection" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-actuatortypemodel">Actuator Type/Model</label>
                                    <input id="field-asset-actuatortypemodel" name="actuatortypemodel" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-serialno">Serial No</label>
                                    <input id="field-asset-serialno" name="serialno" type="text" class="form-control"
                                        required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-actuatorpower">Actuator Power</label>
                                    <input id="field-asset-actuatorpower" name="actuatorpower" type="text"
                                        class="form-control" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subheader">
                        <b>Operation & Fluid</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-container">
                            <div class="form-grid">
                                <div class="form-group-inline">
                                    <label for="field-asset-operatingtemperature">Operating Temperature (F)</label>
                                    <input id="field-asset-operatingtemperature" name="operatingtemperature"
                                        type="number" class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-servicefluid">Service Fluid</label>
                                    <input id="field-asset-servicefluid" name="servicefluid" type="text"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-operatingpressure">Operating Pressure (Psig)</label>
                                    <input id="field-asset-operatingpressure" name="operatingpressure" type="number"
                                        class="form-control" required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-fluidphase">Fluid Phase</label>
                                    <select id="field-asset-fluidphase" name="fluidphase" class="form-control" required>
                                        <option value="">Select Fluid Phase</option>
                                        @{
                                            if(fluidPhaseList != null)
                                            {
                                                foreach (var item in fluidPhaseList)
                                                {
                                                    <option value="@item.Id">@item.FluidPhase</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-flowrate">Flow Rate (m3/hr)</label>
                                    <input id="field-asset-flowrate" name="flowrate" type="number" class="form-control"
                                        required />
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-asset-toxicorflamablefluid">Toxic or Flamable Fluid</label>
                                    <select id="field-asset-toxicorflamablefluid" name="toxicorflamablefluid"
                                        class="form-control" required>
                                        <option value="">Select Toxic or Flamable Fluid</option>
                                        @{
                                            if(toxicOrFlamableFluidList != null)
                                            {
                                                foreach (var item in toxicOrFlamableFluidList)
                                                {
                                                    <option value="@item.Id">@item.ToxicOrFlamableFluid</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" id="btn-asset-modal-save" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-primary btn btn-secondary cancel-button"
                                data-bs-dismiss="modal">Cancel</button>
                            <button type="button" id="btn-asset-modal-delete"
                                class="pull-left btn btn-danger delete-button">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@Html.PartialSectionScripts(
@<script>
    var requestVerificationToken = '@tokens.RequestToken';
    function editAction() {
        $('.form-control').val('');
        $('.form-control').removeClass('error');
        var mode = $(this).attr('attr-mode');
        if (mode == 'create') {
            $('#field-asset-mode').val('create');
            $('#btn-asset-modal-delete').hide();
            $('#addAssetModal').modal('show');
        } else if (mode == 'view') {
            var id = $(this).attr('attr-itemid');
            $.ajax({
                url: '@urlgetassetdetail',
                type: 'GET',
                data: { id: id },
                headers: {
                    'RequestVerificationToken': requestVerificationToken
                },
                success: function (apiresult) {
                    if (apiresult.isSuccess) {
                        var data = apiresult.data;
                        console.log(data);
                        $('#field-asset-mode').val('update');
                        $('#field-asset-id').val(data.id);
                        $('#field-asset-id-show').val(data.id);
                        $('#field-asset-classrating').val(data.classRating);
                        $('#field-asset-tagno').val(data.tagNo);
                        $('#field-asset-parentequipmentno').val(data.parentEquipmentNo);
                        $('#field-asset-platform').val(data.platformID);
                        $('#field-asset-parentequipmentdescription').val(data.parentEquipmentDescription);
                        $('#field-asset-valvetype').val(data.valveTypeID);
                        $('#field-asset-installationdate').val(data.installationDate);
                        $('#field-asset-size').val(data.size);
                        $('#field-asset-pidno').val(data.pidNo);
                        $('#field-asset-manufacturer').val(data.manufacturer);
                        $('#field-asset-manualoverride').val(data.manualOverrideID);
                        $('#field-asset-bodymodel').val(data.bodyModel);
                        $('#field-asset-actuatormfg').val(data.actuatorMfg);
                        $('#field-asset-bodymaterial').val(data.bodyMaterial);
                        $('#field-asset-serialno').val(data.serialNo);
                        $('#field-asset-endconnection').val(data.endConnection);
                        $('#field-asset-actuatortypemodel').val(data.actuatorTypeModel);
                        $('#field-asset-actuatorserialno').val(data.actuatorSerialNo);
                        $('#field-asset-actuatorpower').val(data.actuatorPower);
                        $('#field-asset-operatingtemperature').val(data.operatingTemperature);
                        $('#field-asset-servicefluid').val(data.serviceFluid);
                        $('#field-asset-operatingpressure').val(data.operatingPressure);
                        $('#field-asset-fluidphase').val(data.fluidPhaseID);
                        $('#field-asset-flowrate').val(data.flowRate);
                        $('#field-asset-toxicorflamablefluid').val(data.toxicOrFlamableFluidID);
                        $('#field-asset-equipmentname').val(data.assetName);
                        $('#field-asset-replacementcost').val(data.costOfReplacementAndRepair);
                        $('#field-asset-status').val(data.status);
                        $('#field-asset-usagetype').val(data.usageType);
                        $('#field-asset-actuation').val(data.actuation);
                        $('#btn-asset-modal-delete').show();
                        $('#addAssetModal').modal('show');
                    } else {
                        alert(apiresult.message);
                    }
                }
            });
        }
    }


    $(document).ready(function () {
        $('#btn-asset-modal-save').click(function () {
            if ($('#asset-form').valid()) {
                var mode = $('#field-asset-mode').val();
                var classrating = $('#field-asset-classrating').val();
                var tagno = $('#field-asset-tagno').val();
                var parentequipmentno = $('#field-asset-parentequipmentno').val();
                var platform = $('#field-asset-platform').val();
                var parentequipmentdescription = $('#field-asset-parentequipmentdescription').val();
                var valvetype = $('#field-asset-valvetype').val();
                var installationdate = $('#field-asset-installationdate').val();
                var size = $('#field-asset-size').val();
                var pidno = $('#field-asset-pidno').val();
                var manufacturer = $('#field-asset-manufacturer').val();
                var manualoverride = $('#field-asset-manualoverride').val();
                var bodymodel = $('#field-asset-bodymodel').val();
                var actuatormfg = $('#field-asset-actuatormfg').val();
                var bodymaterial = $('#field-asset-bodymaterial').val();
                var serialno = $('#field-asset-serialno').val();
                var endconnection = $('#field-asset-endconnection').val();
                var actuatortypemodel = $('#field-asset-actuatortypemodel').val();
                var actuatorserialno = $('#field-asset-actuatorserialno').val();
                var actuatorpower = $('#field-asset-actuatorpower').val();
                var operatingtemperature = $('#field-asset-operatingtemperature').val();
                var servicefluid = $('#field-asset-servicefluid').val();
                var operatingpressure = $('#field-asset-operatingpressure').val();
                var fluidphase = $('#field-asset-fluidphase').val();
                var flowrate = $('#field-asset-flowrate').val();
                var toxicorflamablefluid = $('#field-asset-toxicorflamablefluid').val();
                var assetname = $('#field-asset-equipmentname').val();
                var replacementcost = $('#field-asset-replacementcost').val();
                var status = $('#field-asset-status').val();
                var usagetype = $('#field-asset-usagetype').val();
                var actuation = $('#field-asset-actuation').val();
                if (mode == 'create') {
                    $.ajax({
                        url: '@urladdasset',
                        type: 'POST',
                        data: {
                            tagno: tagno,
                            platformid: platform,
                            valvetypeid: valvetype,
                            size: size,
                            classrating: classrating,
                            parentequipmentno: parentequipmentno,
                            parentequipmentdescription: parentequipmentdescription,
                            installationdate: installationdate,
                            pidno: pidno,
                            manufacturer: manufacturer,
                            bodymodel: bodymodel,
                            bodymaterial: bodymaterial,
                            endconnection: endconnection,
                            serialno: serialno,
                            manualoverrideid: manualoverride,
                            actuatormfg: actuatormfg,
                            actuatorserialno: actuatorserialno,
                            actuatortypemodel: actuatortypemodel,
                            actuatorpower: actuatorpower,
                            operatingtemperature: operatingtemperature,
                            operatingpressure: operatingpressure,
                            flowrate: flowrate,
                            servicefluid: servicefluid,
                            fluidphaseid: fluidphase,
                            toxicorflamablefluidid: toxicorflamablefluid,
                            assetname: assetname,
                            costofreplacementandrepair: replacementcost,
                            status: status,
                            usagetype: usagetype,
                            actuation: actuation
                        },
                        headers: {
                            'RequestVerificationToken': requestVerificationToken
                        },
                        success: function (apiresult) {
                            if (apiresult.isSuccess) {
                                var data = apiresult.data;
                                alert(apiresult.message);
                                console.log(data);
                                location.reload();
                            } else {
                                alert(apiresult.message);
                            }
                        }
                    });
                } else if (mode == 'update') {
                    var id = $('#field-asset-id').val();
                    $.ajax({
                        url: '@urlupdateasset',
                        type: 'POST',
                        data: {
                            id: id,
                            tagno: tagno,
                            platformid: platform,
                            valvetypeid: valvetype,
                            size: size,
                            classrating: classrating,
                            parentequipmentno: parentequipmentno,
                            parentequipmentdescription: parentequipmentdescription,
                            installationdate: installationdate,
                            pidno: pidno,
                            manufacturer: manufacturer,
                            bodymodel: bodymodel,
                            bodymaterial: bodymaterial,
                            endconnection: endconnection,
                            serialno: serialno,
                            manualoverrideid: manualoverride,
                            actuatormfg: actuatormfg,
                            actuatorserialno: actuatorserialno,
                            actuatortypemodel: actuatortypemodel,
                            actuatorpower: actuatorpower,
                            operatingtemperature: operatingtemperature,
                            operatingpressure: operatingpressure,
                            flowrate: flowrate,
                            servicefluid: servicefluid,
                            fluidphaseid: fluidphase,
                            toxicorflamablefluidid: toxicorflamablefluid,
                            assetname: assetname,
                            costofreplacementandrepair: replacementcost,
                            status: status,
                            usagetype: usagetype,
                            actuation: actuation
                        },
                        headers: {
                            'RequestVerificationToken': requestVerificationToken
                        },
                        success: function (apiresult) {
                            if (apiresult.isSuccess) {
                                var data = apiresult.data;
                                alert(apiresult.message);
                                console.log(data);
                                location.reload();
                            } else {
                                alert(apiresult.message);
                            }
                        }
                    });
                }
            }
        });
        $('#btn-asset-modal-delete').click(function () {
            var id = $('#field-asset-id').val();
            if (confirm('are you sure you want to delete this data?')) {
                $.ajax({
                    url: '@urldeleteasset',
                    type: 'POST',
                    data: { id: id },
                    headers: {
                        'RequestVerificationToken': requestVerificationToken
                    },
                    success: function (apiresult) {
                        if (apiresult.isSuccess) {
                            var data = apiresult.data;
                            alert(apiresult.message);
                            console.log(data);
                            location.reload();
                        } else {
                            alert(apiresult.message);
                        }
                    }
                });
            }
        });
    });
</script>
    )