@{
    ViewData["Title"] = "Detail";
    var assetList = ViewData["assetList"] as List<AssetModel>;
    var areaList = ViewData["areaList"] as List<AreaModel>;
    string urlddlbusinessarea = Url.Action("GetPlatformList", "AssetRegister");
    string urlbtnfilter = Url.Action("GetAssetList", "AssetRegister");
}
<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <partial name="HomeSidebar" />
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 subheader-negative-margin">
            <div class="subheader">
                <b>Assessment</b>
            </div>
            <div class="content-container">
                <div class="row ">
                    <div class="col-md-12">
                        <form class="filter-area">
                            <select id="ddlBusinessArea" class="form-select form-select-sm filter-select"
                                aria-label="Small select example">
                                <option value="">All Area</option>
                                @if (areaList != null)
                                {
                                    foreach (var item in areaList)
                                    {
                                        <option value="@item.Id">@item.BusinessArea</option>
                                    }
                                }
                            </select>
                            <select id="ddlPlatform" class="form-select form-select-sm filter-select"
                                aria-label="Small select example">
                                <option selected>All Platform</option>
                            </select>
                            <a class="btn btn-outline-dark btn-sm" id="btnFilter" style="margin-right: 32px;"><i
                                    class="bi bi-search"></i> Filter</a>
                            <a class="btn btn-outline-dark btn-sm" id="btnExcel"><i
                                    class="bi bi-file-earmark-excel"></i> Export to Excel</a>
                            <div style="flex:1;"></div>
                            <div class="input-group input-group-sm input-search">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="bi bi-search"></i>
                                </span>
                                <input type="text" class="form-control form-control-sm" placeholder="Search"
                                    oninput="dataTableSearch(this.value)">
                            </div>
                        </form>

                        <table class="table table-bordered datatable datatable-custom datatable-invert"
                            style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Tag No</th>
                                    <th>Business Area</th>
                                    <th>Platform</th>
                                    <th>Value Type</th>
                                    <th>Size (inch)</th>
                                    <th>Rating</th>
                                    <th>PnID Number</th>
                                    <th>Parent Equipment No</th>
                                    <th>Last Inspection Date</th>
                                    <th>Risk Status</th>
                                    <th>Time To Action</th>
                                    <th style="width:300px">Detail</th>
                                </tr>
                            </thead>
                            <tbody id="table-detail">
                                @{
                                    int ctr = 0;
                                    if (assetList != null)
                                    {
                                        foreach (var item in assetList)
                                        {
                                            var assetID = item.Id;
                                            var lastInspectionDate = "No inspection history";
                                            var lastInspectionID = 0;
                                            var lastMaintenanceID = 0;
                                            var lastAssessmentID = 0;
                                            var assessmentTimeToAction = "No assessment history";
                                            var assessmentRisk = "";
                                            var assessmentRiskColor = "";
                                            if (item.lastInspection != null)
                                            {
                                                lastInspectionDate = @item.lastInspection.InspectionDate;
                                                lastInspectionID = @item.lastInspection.Id;
                                            }
                                            if (item.lastMaintenance != null)
                                            {
                                                lastMaintenanceID = @item.lastMaintenance.Id;
                                            }
                                            if (item.lastAssessment != null)
                                            {
                                                lastAssessmentID = @item.lastAssessment.Id;
                                                assessmentTimeToAction = @item.lastAssessment.TPTimeToActionRisk;
                                                assessmentRisk = @item.lastAssessment.RiskMax;
                                                assessmentRiskColor = "status-box " + new
                                                AssessmentModel().GetHeatColor(assessmentRisk);
                                            }
                                            ctr++;
                                            <tr>
                                                <td>@ctr</td>
                                                <td>@item.TagNo</td>
                                                <td>@item.BusinessArea</td>
                                                <td>@item.Platform</td>
                                                <td>@item.ValveType</td>
                                                <td>@item.Size</td>
                                                <td>@item.ClassRating</td>
                                                <td>@item.PIDNo</td>
                                                <td>@item.ParentEquipmentNo</td>
                                                <td>@lastInspectionDate</td>
                                                <td>
                                                    <div class="risk-status-item">
                                                        <div class="@assessmentRiskColor"></div>
                                                        <div>@assessmentRisk</div>
                                                    </div>
                                                </td>
                                                <td>@assessmentTimeToAction</td>
                                                <td class="nowrap">
                                                    <a class="btn btn-light btn-sm" asp-controller="Assessment" asp-action="Index"
                                                        asp-route-assetid="@item.Id" asp-route-assessmentid="@lastAssessmentID"
                                                        target="_blank">Assessment</a>
                                                    <a class="btn btn-light btn-sm" asp-controller="Inspection" asp-action="Index"
                                                        asp-route-assetid="@item.Id" asp-route-inspectionid="@lastInspectionID"
                                                        target="_blank">Inspection</a>
                                                    <a class="btn btn-light btn-sm" asp-controller="Maintenance" asp-action="Index"
                                                        asp-route-assetid="@item.Id" asp-route-maintenanceid="@lastMaintenanceID"
                                                        target="_blank">Maintenance</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<partial name="ModalAsset" />

@section Scripts {
    <script>
        const dataTableOptions = {
            layout: {
                topStart: {
                    buttons: ['excel']
                },
                topEnd: 'search',
                bottomStart: null,
                bottomEnd: null
            }
        }

        initDatatable(dataTableOptions)

        function getHeatColor(pos) {
            var olivePositions = ["1A", "2A", "1B"];
            var greenPositions = ["3A", "2B", "1C"];
            var yellowPositions = ["4A", "3B", "3C", "2C", "1D"];
            var orangePositions = ["5A", "5B", "4B", "4C", "3D", "2D", "2E", "1E"];

            if (olivePositions.includes(pos)) {
                return "olive";
            } else if (greenPositions.includes(pos)) {
                return "green";
            } else if (yellowPositions.includes(pos)) {
                return "yellow";
            } else if (orangePositions.includes(pos)) {
                return "orange";
            } else {
                return "red";
            }
        }

        $(document).ready(function () {
            $('#ddlBusinessArea').on('change', function () {
                var areaId = $(this).val();
                $.ajax({
                    url: '@urlddlbusinessarea',
                    type: 'GET',
                    data: { areaId: areaId },
                    success: function (data) {
                        $('#ddlPlatform').empty();
                        $('#ddlPlatform').append('<option value="">All Platform</option>');
                        $.each(data, function (i, item) {
                            $('#ddlPlatform').append('<option value="' + item.id + '">' + item.platform + '</option>');
                        });
                    }
                });
            });

            $('#btnFilter').on('click', function (e) {
                var areaId = $('#ddlBusinessArea').val();
                var platformId = $('#ddlPlatform').val();
                $.ajax({
                    url: '@urlbtnfilter',
                    type: 'GET',
                    data: { areaId: areaId, platformId: platformId },
                    success: function (data) {
                        $(".datatable").DataTable().destroy();
                        $('#table-detail').html('');
                        $.each(data, function (i, item) {
                            var itemid = item.id;
                            var lastInspectionDate = "No inspection history";
                            var lastInspectionID = 0;
                            var lastMaintenanceID = 0;
                            var lastAssessmentID = 0;
                            var assessmentTimeToAction = "No assessment history";
                            var assessmentRisk = "";
                            var assessmentRiskColor = "";
                            if (item.lastInspection != null) {
                                lastInspectionDate = item.lastInspection.inspectionDate;
                                lastInspectionID = item.lastInspection.id;
                            }
                            if (item.lastMaintenance != null) {
                                lastMaintenanceID = item.lastMaintenance.id;
                            }
                            if (item.lastAssessment != null) {
                                lastAssessmentID = item.lastAssessment.id;
                                assessmentTimeToAction = item.lastAssessment.tpTimeToActionRisk;
                                assessmentRisk = item.lastAssessment.riskMax;
                                assessmentRiskColor = "status-box " + getHeatColor(assessmentRisk);
                            }
                            var html = `
                                <tr>
                                    <td>${i + 1}</td>
                                    <td>${item.tagNo}</td>
                                    <td>${item.businessArea}</td>
                                    <td>${item.platform}</td>
                                    <td>${item.valveType}</td>
                                    <td>${item.size}</td>
                                    <td>${item.classRating}</td>
                                    <td>${item.pidNo}</td>
                                    <td>${item.parentEquipmentNo}</td>
                                    <td>${lastInspectionDate}</td>
                                    <td>
                                        <div class="risk-status-item">
                                            <div class="${assessmentRiskColor}"></div>
                                            <div>${assessmentRisk}</div>
                                        </div>
                                    </td>
                                    <td>${assessmentTimeToAction}</td>
                                    <td class="nowrap">
                                        <a class="btn btn-light btn-sm" asp-controller="Assessment" asp-action="Index" asp-route-assetid="${itemid}" asp-route-assessmentid="${lastAssessmentID}" target="_blank">Assessment</a>
                                        <a class="btn btn-light btn-sm" asp-controller="Inspection" asp-action="Index" asp-route-assetid="${itemid}" asp-route-inspectionid="${lastInspectionID}" target="_blank">Inspection</a>
                                        <a class="btn btn-light btn-sm" asp-controller="Maintenance" asp-action="Index" asp-route-assetid="${itemid}" asp-route-maintenanceid="${lastMaintenanceID}" target="_blank">Maintenance</a>
                                    </td>
                                </tr>`;
                            $('#table-detail').append(html);
                        });
                        initDatatable(dataTableOptions)
                    }
                });
            });
        });

        $('#btnExcel').on('click', () => {
            $('.dt-button.buttons-excel').trigger('click')
        })
    </script>
}