@using SharedLayer
@{
    ViewData["Title"] = "Assessment Summary";
    var areaList = ViewData["areaList"] as List<AreaData>;
    var assessmentList = ViewData["assessmentList"] as List<AssessmentData>;
    string urlddlbusinessarea = Url.Action("GetPlatformList", "AssetRegister") ?? "";
    string urlbtnfilter = Url.Action("GetAssessmentList", "Assessment") ?? "";
    string urlinspectiondetail = Url.Action("GetInspectionDetail", "Inspection") ?? "";
    string urlmaintenancedetail = Url.Action("GetMaintenanceDetail", "Maintenance") ?? "";
    string urlassessmentdetail = Url.Action("GetAssessmentDetail", "Assessment") ?? "";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var tokens = Xsrf.GetAndStoreTokens(Context);
}
<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <partial name="HomeSidebar" />
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 subheader-negative-margin">
            <div class="subheader">
                <b>Assessment Summary</b>
            </div>
            <div class="content-container">
                <div class="row ">
                    <div class="col-md-12">
                        <form class="filter-area">
                            <input type="hidden" name="__RequestVerificationToken" value="@tokens.RequestToken" />
                            <select id="ddlBusinessArea" class="form-select form-select-sm filter-select"
                                aria-label="Small select example">
                                <option value="">All Area</option>
                                @if (areaList != null)
                                {
                                    foreach (var item in areaList)
                                    {
                                        <option value="@item.Id">@item.BusinessArea</option>
                                    }
                                }
                            </select>
                            <select id="ddlPlatform" class="form-select form-select-sm filter-select"
                                aria-label="Small select example">
                                <option selected>All Platform</option>
                            </select>
                            <a class="btn btn-outline-dark btn-sm" id="btnFilter" style="margin-right: 32px;"><i
                                    class="bi bi-search"></i> Filter</a>
                            <a class="btn btn-outline-dark btn-sm" id="btnExcel"><i
                                    class="bi bi-file-earmark-excel"></i> Export to Excel</a>
                            <div style="flex:1;"></div>
                            <div class="input-group input-group-sm input-search">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="bi bi-search"></i>
                                </span>
                                <input type="text" class="form-control form-control-sm" placeholder="Search"
                                    oninput="dataTableSearch(this.value)">
                            </div>
                        </form>

                        <table class="table table-bordered datatable" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="nowrap" style="text-align: center;">No</th>
                                    <th class="nowrap" style="text-align: center;">Business Unit Area</th>
                                    <th class="nowrap" style="text-align: center;">Platform</th>
                                    <th class="nowrap" style="text-align: center;">Valve Tag No</th>
                                    <th class="nowrap" style="text-align: center;">Equipment Name</th>
                                    <th class="noshow" style="text-align: center;">Parent Equipment No.</th>
                                    <th class="noshow" style="text-align: center;">Parent Equipment Description</th>
                                    <th class="nowrap" style="text-align: center;">PID. No.</th>
                                    <th class="nowrap" style="text-align: center;">Valve Type</th>
                                    <th class="nowrap" style="text-align: center;">Size</th>
                                    <th class="nowrap" style="text-align: center;">Class/Rating</th>
                                    <th class="nowrap" style="text-align: center;">Installation Date<br/>(dd-mm-yyyy)</th>
                                    <th class="nowrap" style="text-align: center;">Assessment Date<br/>(dd-mm-yyyy)</th>
                                    <th class="nowrap" style="text-align: center;">Last Inspection Date<br/>(dd-mm-yyyy)</th>
                                    <th class="nowrap" style="text-align: center;">Last Maintenance Date<br/>(dd-mm-yyyy)</th>
                                    <th class="nowrap" style="text-align: center;">Time Period (Month)</th>
                                    <th class="noshow" style="text-align: center;">Leakage to atmosphere TP1</th>
                                    <th class="noshow" style="text-align: center;">Leakage to atmosphere TP2</th>
                                    <th class="noshow" style="text-align: center;">Leakage to atmosphere TP3</th>
                                    <th class="noshow" style="text-align: center;">Failure of function TP1</th>
                                    <th class="noshow" style="text-align: center;">Failure of function TP2</th>
                                    <th class="noshow" style="text-align: center;">Failure of function TP3</th>
                                    <th class="noshow" style="text-align: center;">Passing across valve TP1</th>
                                    <th class="noshow" style="text-align: center;">Passing across valve TP2</th>
                                    <th class="noshow" style="text-align: center;">Passing across valve TP3</th>
                                    <th class="nowrap" style="text-align: center;">Risk TP1</th>
                                    <th class="nowrap" style="text-align: center;">Risk TP2</th>
                                    <th class="nowrap" style="text-align: center;">Risk TP3</th>
                                    <th class="nowrap" style="text-align: center;">Integrity Status</th>
                                    <th class="nowrap" style="text-align: center;">Recommendation Action</th>
                                    <th class="nowrap" style="text-align: center;">Time to Action</th>
                                    <th class="noshow" style="text-align: center;">LF1-Leakage to atmophere</th>
                                    <th class="noshow" style="text-align: center;">LF1-Failure of function</th>
                                    <th class="noshow" style="text-align: center;">LF1-Passing accross valve</th>
                                    <th class="noshow" style="text-align: center;">LF2-Leakage to atmophere TP1</th>
                                    <th class="noshow" style="text-align: center;">LF2-Failure of function TP1</th>
                                    <th class="noshow" style="text-align: center;">LF2-Passing accross valve TP1</th>
                                    <th class="noshow" style="text-align: center;">LF2-Leakage to atmophere TP2</th>
                                    <th class="noshow" style="text-align: center;">LF2-Failure of function TP2</th>
                                    <th class="noshow" style="text-align: center;">LF2-Passing accross valve TP2</th>
                                    <th class="noshow" style="text-align: center;">LF2-Leakage to atmophere TP3</th>
                                    <th class="noshow" style="text-align: center;">LF2-Failure of function TP3</th>
                                    <th class="noshow" style="text-align: center;">LF2-Passing accross valve TP3</th>
                                    <th class="noshow" style="text-align: center;">LF3-Inspection Effectiveness</th>
                                    <th class="noshow" style="text-align: center;">LF4-Impact of Internal Fluid Impurities</th>
                                    <th class="noshow" style="text-align: center;">LF5-Impact of Operating Envelopes</th>
                                    <th class="noshow" style="text-align: center;">LF6-Used within OEM Specification</th>
                                    <th class="noshow" style="text-align: center;">LF7-Repaired</th>
                                    <th class="noshow" style="text-align: center;">CF1-Product loss definition (bbls)</th>
                                    <th class="noshow" style="text-align: center;">CF2-HSSE Definision</th>
                                    <th class="noshow" style="text-align: center;">LoF Score-Leakage to atmophere TP1</th>
                                    <th class="noshow" style="text-align: center;">LoF Score-Failure of function TP1</th>
                                    <th class="noshow" style="text-align: center;">LoF Score-Passing accross valve TP1</th>
                                    <th class="noshow" style="text-align: center;">LoF Score-Leakage to atmophere TP2</th>
                                    <th class="noshow" style="text-align: center;">LoF Score-Failure of function TP2</th>
                                    <th class="noshow" style="text-align: center;">LoF Score-Passing accross valve TP2</th>
                                    <th class="noshow" style="text-align: center;">LoF Score-Leakage to atmophere TP3</th>
                                    <th class="noshow" style="text-align: center;">LoF Score-Failure of function TP3</th>
                                    <th class="noshow" style="text-align: center;">LoF Score-Passing accross valve TP3</th>
                                    <th class="noshow" style="text-align: center;">CoF Score</th>
                                    <th class="notexport" style="width:300px">Detail</th>
                                </tr>
                            </thead>
                            <tbody id="table-detail">
                                @{
                                    int ctr = 0;
                                    if (assessmentList != null)
                                    {
                                        foreach (var item in assessmentList)
                                        {
                                            string installationDate = item.Asset.InstallationDate.Length >= 10 ?
                                            item.Asset.InstallationDate.Substring(6, 4) + "-" +
                                            item.Asset.InstallationDate.Substring(3, 2) + "-" +
                                            item.Asset.InstallationDate.Substring(0, 2) : item.Asset.InstallationDate;

                                            string assessmentDate = item.AssessmentDate.Length >= 10 ?
                                            item.AssessmentDate.Substring(6, 4) + "-" + item.AssessmentDate.Substring(3, 2) + "-" +
                                            item.AssessmentDate.Substring(0, 2) :
                                            item.AssessmentDate;

                                            string lastInspectionDate = item.LastInspectionDate?.Length >= 10 ?
                                            item.LastInspectionDate.Substring(6, 4) + "-" + item.LastInspectionDate.Substring(3, 2)
                                            + "-" + item.LastInspectionDate.Substring(0, 2) :
                                            item.LastInspectionDate;

                                            string lastMaintenanceDate = item.LastMaintenanceDate?.Length >= 10 ?
                                            item.LastMaintenanceDate.Substring(6, 4) + "-" + item.LastMaintenanceDate.Substring(3, 2)
                                            + "-" + item.LastMaintenanceDate.Substring(0, 2) :
                                            item.LastMaintenanceDate;

                                            string timeToAction = item.TPTimeToActionRisk.Length >= 10 ?
                                            item.TPTimeToActionRisk.Substring(6, 4) + "-" + item.TPTimeToActionRisk.Substring(3, 2)
                                            + "-" + item.TPTimeToActionRisk.Substring(0, 2) :
                                            item.TPTimeToActionRisk;

                                            ctr++;
                                            <tr>
                                                @{
                                                    if(item.Asset != null){
                                                        <td class="nowrap">@ctr</td>
                                                        <td class="nowrap">@item.Asset.BusinessArea</td>
                                                        <td class="nowrap">@item.Asset.Platform</td>
                                                        <td class="nowrap">@item.Asset.TagNo</td>
                                                        <td class="nowrap">@item.Asset.AssetName</td>
                                                        <td class="noshow">@item.Asset.ParentEquipmentNo</td>
                                                        <td class="noshow">@item.Asset.ParentEquipmentDescription</td>
                                                        <td class="nowrap">@item.Asset.PIDNo</td>
                                                        <td class="nowrap">@item.Asset.ValveType</td>
                                                        <td class="nowrap">@item.Asset.Size</td>
                                                        <td class="nowrap">@item.Asset.ClassRating</td>
                                                        <td class="nowrap export-html" real-val="@item.Asset.InstallationDate"><span style="display: none;">@installationDate</span>@item.Asset.InstallationDate</td>
                                                        <td class="nowrap export-html" real-val="@item.AssessmentDate"><span style="display: none;">@assessmentDate</span>@item.AssessmentDate</td>
                                                        <td class="nowrap export-html" real-val="@item.LastInspectionDate"><span style="display: none;">@lastInspectionDate</span>@item.LastInspectionDate</td>
                                                        <td class="nowrap export-html" real-val="@item.LastMaintenanceDate"><span style="display: none;">@lastMaintenanceDate</span>@item.LastMaintenanceDate</td>
                                                        <td class="nowrap">@item.TimePeriode</td>
                                                        <td class="noshow">@item.TP1A</td>
                                                        <td class="noshow">@item.TP2A</td>
                                                        <td class="noshow">@item.TP3A</td>
                                                        <td class="noshow">@item.TP1B</td>
                                                        <td class="noshow">@item.TP2B</td>
                                                        <td class="noshow">@item.TP3B</td>
                                                        <td class="noshow">@item.TP1C</td>
                                                        <td class="noshow">@item.TP2C</td>
                                                        <td class="noshow">@item.TP3C</td>
                                                        <td class="havebgcolor">@item.TP1Risk</td>
                                                        <td class="havebgcolor">@item.TP2Risk</td>
                                                        <td class="havebgcolor">@item.TP3Risk</td>
                                                        <td class="nowrap">@item.IntegrityStatus</td>
                                                        <td class="nowrap">@item.RecommendationAction</td>
                                                        <td class="nowrap export-html" real-val="@item.TPTimeToActionRisk"><span style="display: none;">@timeToAction</span>@item.TPTimeToActionRisk</td>
                                                        <td class="noshow">@item.LeakageToAtmosphere</td>
                                                        <td class="noshow">@item.FailureOfFunction</td>
                                                        <td class="noshow">@item.PassingAccrosValve</td>
                                                        <td class="noshow">@item.LeakageToAtmosphereTP1</td>
                                                        <td class="noshow">@item.LeakageToAtmosphereTP2</td>
                                                        <td class="noshow">@item.LeakageToAtmosphereTP3</td>
                                                        <td class="noshow">@item.FailureOfFunctionTP1</td>
                                                        <td class="noshow">@item.FailureOfFunctionTP2</td>
                                                        <td class="noshow">@item.FailureOfFunctionTP3</td>
                                                        <td class="noshow">@item.PassingAccrosValveTP1</td>
                                                        <td class="noshow">@item.PassingAccrosValveTP2</td>
                                                        <td class="noshow">@item.PassingAccrosValveTP3</td>
                                                        <td class="noshow">@item.InspectionEffectiveness</td>
                                                        <td class="noshow">@item.ImpactOfInternalFluidImpurities</td>
                                                        <td class="noshow">@item.ImpactOfOperatingEnvelopes</td>
                                                        <td class="noshow">@item.UsedWithinOEMSpecification</td>
                                                        <td class="noshow">@item.Repaired</td>
                                                        <td class="noshow">@item.ProductLossDefinition</td>
                                                        <td class="noshow">@item.HSSEDefinision</td>
                                                        <td class="noshow">@item.LoFScoreLeakageToAtmophereTP1</td>
                                                        <td class="noshow">@item.LoFScoreFailureOfFunctionTP1</td>
                                                        <td class="noshow">@item.LoFScorePassingAccrosValveTP1</td>
                                                        <td class="noshow">@item.LoFScoreLeakageToAtmophereTP2</td>
                                                        <td class="noshow">@item.LoFScoreFailureOfFunctionTP2</td>
                                                        <td class="noshow">@item.LoFScorePassingAccrosValveTP2</td>
                                                        <td class="noshow">@item.LoFScoreLeakageToAtmophereTP3</td>
                                                        <td class="noshow">@item.LoFScoreFailureOfFunctionTP3</td>
                                                        <td class="noshow">@item.LoFScorePassingAccrosValveTP3</td>
                                                        <td class="noshow">@item.CoFScore</td>
                                                        <td class="nowrap">
                                                            <button class="btn btn-light btn-sm" onclick="detailInspection(@item.LastInspectionId)">Inspection</button>
                                                            <button class="btn btn-light btn-sm" onclick="detailMaintenance(@item.LastMaintenanceId)">Maintenance</button>
                                                            <button class="btn btn-light btn-sm" onclick="detailAssessment(@item.Id)">Assessment</button>
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                }
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="modal fade modal-xl assessment-form-modal" id="detailInspectionModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="inspection-form inspection-tab">
                <input type="hidden" name="__RequestVerificationToken" value="@tokens.RequestToken" />
                <div class="box">
                    <div class="subheader m-0">
                        <b>Asset Information</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-container">
                            <div class="form-grid">
                                <div class="form-group-inline">
                                    <label for="field-inspection-assetid">Asset ID</label>
                                    <input type="text" class="form-control" id="field-inspection-assetid" readonly name="AssetID">
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-inspection-valvetype">Valve Type</label>
                                    <input type="text" class="form-control" id="field-inspection-valvetype" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-inspection-tagno">Tag No</label>
                                    <input type="text" class="form-control" id="field-inspection-tagno" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-inspection-manufacturer">Manufacturer</label>
                                    <input type="text" class="form-control" id="field-inspection-manufacturer" readonly>
                                </div>
                                <div class="form-group-inline" style="display: none;">
                                    <label for="field-inspection-equipmentname">Equipment Name</label>
                                    <input type="text" class="form-control" id="field-inspection-equipmentname" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-inspection-bodymaterial">Body Material</label>
                                    <input type="text" class="form-control" id="field-inspection-bodymaterial" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="businessarea">Business Area</label>
                                    <input type="text" class="form-control" id="businessarea" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="bodymodel">Body Model</label>
                                    <input type="text" class="form-control" id="bodymodel" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="platform">Platform</label>
                                    <input type="text" class="form-control" id="platform" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="endconnection">End Connection</label>
                                    <input type="text" class="form-control" id="endconnection" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="parentequipmentno">Parent Equipment No.</label>
                                    <input type="text" class="form-control" id="parentequipmentno" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="serialno">Serial No.</label>
                                    <input type="text" class="form-control" id="serialno" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="parentequipmentdescription">Parent Equipment Description</label>
                                    <input type="text" class="form-control" id="parentequipmentdescription" readonly>
                                </div>
                                <div class="form-group-inline" style="display: none;">
                                    <label for="usagetype">Usage Type</label>
                                    <input type="text" class="form-control" id="usagetype" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="installationdate">Installation Date</label>
                                    <input type="text" class="form-control" id="installationdate" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="size">Size (inch)</label>
                                    <input type="text" class="form-control" id="size" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="pidno">PID No</label>
                                    <input type="text" class="form-control" id="pidno" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="classrating">Class Rating</label>
                                    <input type="text" class="form-control" id="classrating" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="subheader m-0">
                        <b>Inspection Information</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-container">
                            <div class="form-grid">
                                <input type="hidden" name="Id" id="data-id">
                                <div class="form-group ">
                                    <label for="field-inspection-valvetagno">Valve Tag No</label>
                                    <input type="text" class="form-control" id="field-inspection-valvetagno" readonly>
                                </div>
                                <div class="form-group ">
                                    <label for="field-inspection-current-condition-limit-state-a">Current Condition Leakage to Atmosphere</label>
                                    <input class="form-control"
                                        id="field-inspection-current-condition-limit-state-a"
                                        name="CurrentConditionLeakeageToAtmosphereID"
                                        readonly
                                    >
                                </div>
                                <div class="form-group ">
                                    <label for="field-inspection-date">Inspection Date</label>
                                    <input id="field-inspection-date" type="text"
                                        class="form-control datepicker" name="InspectionDate"
                                        readonly/>
                                </div>
                                <div class="form-group ">
                                    <label for="field-inspection-current-condition-limit-state-b">Current Condition Failure of Function</label>
                                    <input class="form-control"
                                        id="field-inspection-current-condition-limit-state-b"
                                        name="CurrentConditionFailureOfFunctionID"
                                        readonly
                                    >
                                </div>
                                <div class="form-group ">
                                    <label for="field-inspection-inspection-method">Inspection
                                        Method</label>
                                    <input class="form-control" id="field-inspection-inspection-method" name="InspectionMethodID" readonly>
                                </div>
                                <div class="form-group ">
                                    <label for="field-inspection-current-condition-limit-state-c">Current
                                        Condition Passing Across Valve</label>
                                    <input class="form-control"
                                        id="field-inspection-current-condition-limit-state-c"
                                        name="CurrentConditionPassingAcrossValveID"
                                        readonly
                                    >
                                </div>
                                <div class="form-group ">
                                    <label for="field-inspection-effectiveness">Inspection
                                        Effectiveness</label>
                                    <input class="form-control" id="field-inspection-effectiveness" name="InspectionEffectivenessID" readonly>
                                </div>
                                <div class="form-group ">
                                    <label for="field-inspection-function-condition">Function
                                        Condition</label>
                                    <input type="text" class="form-control"
                                        id="field-inspection-function-condition"
                                        name="FunctionCondition"
                                        readonly
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="field-inspection-description">Inspection Description</label>
                                    <textarea class="form-control" id="field-inspection-description"
                                        rows="12" name="InspectionDescription" readonly></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="form-group col-md-12 mb-2">
                                            <label for="field-inspection-test-pressure-if-any">Test Pressure
                                                if Any</label>
                                            <input type="text" 
                                                name="TestPressureIfAny"
                                                class="form-control"
                                                id="field-inspection-test-pressure-if-any"
                                                readonly>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="field-inspection-image">Inspection Image</label>
                                            <div class="gallery-input">
                                                <div class="preview-image-gallery">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="box-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade modal-xl assessment-form-modal" id="detailMaintenanceModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="inspection-form inspection-tab">
                <input type="hidden" name="__RequestVerificationToken" value="@tokens.RequestToken" />
                <div class="box">
                    <div class="subheader m-0">
                        <b>Asset Information</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-container">
                            <div class="form-grid">
                                <div class="form-group-inline">
                                    <label for="field-inspection-assetid">Asset ID</label>
                                    <input type="text" class="form-control" id="field-inspection-assetid" name="AssetID" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-inspection-valvetype">Valve Type</label>
                                    <input type="text" class="form-control" id="field-inspection-valvetype" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-inspection-tagno">Tag No</label>
                                    <input type="text" class="form-control" id="field-inspection-tagno" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-inspection-manufacturer">Manufacturer</label>
                                    <input type="text" class="form-control" id="field-inspection-manufacturer" readonly>
                                </div>
                                <div class="form-group-inline" style="display: none;">
                                    <label for="field-inspection-equipmentname">Equipment Name</label>
                                    <input type="text" class="form-control" id="field-inspection-equipmentname" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-inspection-bodymaterial">Body Material</label>
                                    <input type="text" class="form-control" id="field-inspection-bodymaterial" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="businessarea">Business Area</label>
                                    <input type="text" class="form-control" id="businessarea" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="bodymodel">Body Model</label>
                                    <input type="text" class="form-control" id="bodymodel" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="platform">Platform</label>
                                    <input type="text" class="form-control" id="platform" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="endconnection">End Connection</label>
                                    <input type="text" class="form-control" id="endconnection" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="parentequipmentno">Parent Equipment No.</label>
                                    <input type="text" class="form-control" id="parentequipmentno" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="serialno">Serial No.</label>
                                    <input type="text" class="form-control" id="serialno" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="parentequipmentdescription">Parent Equipment Description</label>
                                    <input type="text" class="form-control" id="parentequipmentdescription" readonly>
                                </div>
                                <div class="form-group-inline" style="display: none;">
                                    <label for="usagetype">Usage Type</label>
                                    <input type="text" class="form-control" id="usagetype" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="installationdate">Installation Date</label>
                                    <input type="text" class="form-control" id="installationdate" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="size">Size (inch)</label>
                                    <input type="text" class="form-control" id="size" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="pidno">PID No</label>
                                    <input type="text" class="form-control" id="pidno" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="classrating">Class Rating</label>
                                    <input type="text" class="form-control" id="classrating" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="subheader m-0">
                        <b>Maintenance Information</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-container">
                            <div class="form-grid">
                                <input type="hidden" name="Id" id="data-id">
                                <div class="form-group ">
                                    <label for="field-maintenance-date">Maintenance Date</label>
                                    <input id="field-maintenance-date" type="text"
                                        class="form-control datepicker" name="MaintenanceDate" readonly/>
                                </div>
                                <div class="form-group ">
                                    <label for="field-maintenance-repaired">Is Valve Repaired</label>
                                    <input class="form-control"
                                        id="field-maintenance-repaired"
                                        name="IsValveRepairedID"
                                        readonly
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="field-maintenance-description">Maintenance Description</label>
                                    <textarea class="form-control" id="field-maintenance-description"
                                        rows="8"
                                        name="MaintenanceDescription"
                                        readonly
                                        ></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="field-maintenance-image">Maintenance Image</label>
                                    <div class="gallery-input">
                                        <div class="preview-image-gallery">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="box-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade modal-xl assessment-form-modal" id="detailAssessmentModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="inspection-form inspection-tab">
                <input type="hidden" name="__RequestVerificationToken" value="@tokens.RequestToken" />
                <div class="box">
                    <div class="subheader m-0">
                        <b>Asset Information</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-container">
                            <div class="form-grid">
                                <div class="form-group-inline">
                                    <label for="field-inspection-assetid">Asset ID</label>
                                    <input type="text" class="form-control" id="field-inspection-assetid" name="AssetID" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-inspection-valvetype">Valve Type</label>
                                    <input type="text" class="form-control" id="field-inspection-valvetype" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-inspection-tagno">Tag No</label>
                                    <input type="text" class="form-control" id="field-inspection-tagno" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-inspection-manufacturer">Manufacturer</label>
                                    <input type="text" class="form-control" id="field-inspection-manufacturer" readonly>
                                </div>
                                <div class="form-group-inline" style="display: none;">
                                    <label for="field-inspection-equipmentname">Equipment Name</label>
                                    <input type="text" class="form-control" id="field-inspection-equipmentname" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-inspection-bodymaterial">Body Material</label>
                                    <input type="text" class="form-control" id="field-inspection-bodymaterial" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="businessarea">Business Area</label>
                                    <input type="text" class="form-control" id="businessarea" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="bodymodel">Body Model</label>
                                    <input type="text" class="form-control" id="bodymodel" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="platform">Platform</label>
                                    <input type="text" class="form-control" id="platform" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="endconnection">End Connection</label>
                                    <input type="text" class="form-control" id="endconnection" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="parentequipmentno">Parent Equipment No.</label>
                                    <input type="text" class="form-control" id="parentequipmentno" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="serialno">Serial No.</label>
                                    <input type="text" class="form-control" id="serialno" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="parentequipmentdescription">Parent Equipment Description</label>
                                    <input type="text" class="form-control" id="parentequipmentdescription" readonly>
                                </div>
                                <div class="form-group-inline" style="display: none;">
                                    <label for="usagetype">Usage Type</label>
                                    <input type="text" class="form-control" id="usagetype" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="installationdate">Installation Date</label>
                                    <input type="text" class="form-control" id="installationdate" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="size">Size (inch)</label>
                                    <input type="text" class="form-control" id="size" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="pidno">PID No</label>
                                    <input type="text" class="form-control" id="pidno" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="classrating">Class Rating</label>
                                    <input type="text" class="form-control" id="classrating" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="subheader m-0">
                        <b>Assessment Information</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-container">
                            <div class="form-grid">
                                <div class="form-group-inline">
                                    <label for="assessment-no">Assessment No</label>
                                    <input type="text" class="form-control" id="assessment-no" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="time-to-limit-a">Time to Limit State Leakage to atmosphere (Month)</label>
                                    <input type="text" class="form-control" id="time-to-limit-a" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="assessment-date">Assessment Date</label>
                                    <input type="text" class="form-control" id="assessment-date" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="time-to-limit-b">Time to Limit State Failure of function (Month)</label>
                                    <input type="text" class="form-control" id="time-to-limit-b" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="time-period">Time Period</label>
                                    <input type="text" class="form-control" id="time-period" readonly>
                                </div>
                                <div class="form-group-inline">
                                    <label for="time-to-limit-c">Time to Limit State Passing accros valve (Month)</label>
                                    <input type="text" class="form-control" id="time-to-limit-c" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="subheader m-0">
                        <b>Inspection History</b>
                    </div>
                    <div class="sub-container">
                        <table class="pop-up-history-table">
                            <thead>
                                <th>No</th>
                                <th>Inspection Date</th>
                                <th>Inspection Method</th>
                                <th>Inspection Description</th>
                                <th>Function Condition</th>
                                <th>Test Pressure</th>
                            </thead>
                            <tbody id="inspection-history-content">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box">
                    <div class="subheader m-0">
                        <b>Maintenance History</b>
                    </div>
                    <div class="sub-container">
                        <table class="pop-up-history-table">
                            <thead>
                                <th>No</th>
                                <th>Maintenance Date</th>
                                <th>Is Valve Repaired?</th>
                                <th>Maintenance Description</th>
                            </thead>
                            <tbody id="maintenance-history-content">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box">
                    <div class="subheader m-0">
                        <b>Likelihood of Failure</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-grid">
                            <div>
                                <div class="form-section-title">
                                    LF1 - Current Condition
                                </div>
                                <div class="form-group-inline with-margin-bottom">
                                    <label for="leakage-to-atmosphere">Leakage to atmophere</label>
                                    <input type="text" class="form-control" id="leakage-to-atmosphere" readonly>
                                </div>
                                <div class="form-group-inline with-margin-bottom">
                                    <label for="failure-of-function">Failure of Function</label>
                                    <input type="text" class="form-control" id="failure-of-function" readonly>
                                </div>
                                <div class="form-group-inline with-margin-bottom">
                                    <label for="passing-accross-valve">Passing accross valve</label>
                                    <input type="text" class="form-control" id="passing-accross-valve" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-section-title mb-0">
                            LF2 - Time To Limit State
                        </div>
                        <div>
                            <table class="lf2-preview-table">
                                <tr>
                                    <td></td>
                                    <td class="text-center"><label>TP1</label></td>
                                    <td class="text-center"><label>TP2</label></td>
                                    <td class="text-center"><label>TP3</label></td>
                                </tr>
                                <tr>
                                    <td><label>Leakage to atmophere</label></td>
                                    <td><input class="form-control" readonly id="leakage-to-atmosphere-tp1"></td>
                                    <td><input class="form-control" readonly id="failure-of-function-tp1"></td>
                                    <td><input class="form-control" readonly id="passing-accross-valve-tp1"></td>
                                </tr>
                                <tr>
                                    <td><label>Failure of Function</label></td>
                                    <td><input class="form-control" readonly id="leakage-to-atmosphere-tp2"></td>
                                    <td><input class="form-control" readonly id="failure-of-function-tp2"></td>
                                    <td><input class="form-control" readonly id="passing-accross-valve-tp2"></td>
                                </tr>
                                <tr>
                                    <td><label>Passing accross valve</label></td>
                                    <td><input class="form-control" readonly id="leakage-to-atmosphere-tp3"></td>
                                    <td><input class="form-control" readonly id="failure-of-function-tp3"></td>
                                    <td><input class="form-control" readonly id="passing-accross-valve-tp3"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-grid mt-5">
                            <div>
                                <div class="form-group-inline with-margin-bottom">
                                    <label for="inspection-effectiveness">LF3 - Inspection Effectiveness</label>
                                    <input type="text" class="form-control" id="inspection-effectiveness" readonly>
                                </div>
                                <div class="form-group-inline with-margin-bottom">
                                    <label for="impact-of-internal-fluid">LF4 - Impact of Internal Fluid Impurities</label>
                                    <input type="text" class="form-control" id="impact-of-internal-fluid" readonly>
                                </div>
                                <div class="form-group-inline with-margin-bottom">
                                    <label for="impact-of-operating-envelopes">LF5 - Impact of Operating Envelopes</label>
                                    <input type="text" class="form-control" id="impact-of-operating-envelopes" readonly>
                                </div>
                            </div>
                            <div>
                                <div class="form-group-inline with-margin-bottom">
                                    <label for="used-within-oem-specification">LF6 - Used within OEM Specification</label>
                                    <input type="text" class="form-control" id="used-within-oem-specification" readonly>
                                </div>
                                <div class="form-group-inline with-margin-bottom">
                                    <label for="repaired">LF7 - Repaired</label>
                                    <input type="text" class="form-control" id="repaired" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="subheader m-0">
                        <b>Consequence of Failure</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-grid">
                            <div class="form-group-inline">
                                <label for="product-loss-definition">Product loss definition (bbls)</label>
                                <input type="text" class="form-control" id="product-loss-definition" readonly>
                            </div>
                            <div class="form-group-inline">
                                <label for="hsse-definition">HSSE Definition</label>
                                <input type="text" class="form-control" id="hsse-definition" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="subheader m-0">
                        <b>Risk</b>
                    </div>
                    <div class="sub-container">
                        <div class="risk-table-container">
                            <svg class="risk-table-legend" viewBox="0 0 550 350">
                                <defs>
                                    <path d="M 0 0  L 550 0  L 550 440  L 0 440  Z " fill-rule="evenodd" fill="black" id="path33" />
                                    <clipPath id="clip34">
                                        <use xlink:href="#path33" />
                                    </clipPath>
                                    <filter x="-50.00%" y="-50.00%" width="200.00%" height="200.00%" filterUnits="objectBoundingBox" id="filter35">
                                        <feColorMatrix type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0  " in="SourceGraphic" />
                                    </filter>
                                </defs>
                                <g transform="matrix(1 0 0 1 -174 -55 )">
                                    <g transform="matrix(0.902272727272727 0 0 0.902272727272727 200.875 55 )" clip-path="url(#clip34)" filter="url(#filter35)">
                                        <text x="125" y="275" font-size="12">A</text>
                                        <text x="125" y="225" font-size="12">B</text>
                                        <text x="125" y="175" font-size="12">C</text>
                                        <text x="125" y="125" font-size="12">D</text>
                                        <text x="125" y="75" font-size="12">E</text>
                                        <text x="175" y="322" font-size="12">1</text>
                                        <text x="225" y="322" font-size="12">2</text>
                                        <text x="275" y="322" font-size="12">3</text>
                                        <text x="325" y="322" font-size="12">4</text>
                                        <text x="375" y="322" font-size="12">5</text>
                                        <text x="225" y="350" font-size="12" font-weight="bold">Likelihood of Failure</text>
                                        <g transform="translate(100,242)">
                                            <g transform="rotate(-90)">
                                                <text font-size="12" font-weight="bold">Consequence of Failure</text>
                                            </g>
                                        </g>
                                        <g class="legend">
                                            <polygon points="425,55 420,65 430,65" fill="white" stroke-width="2" stroke="gray"></polygon>
                                            <text x="440" y="65" font-size="12">TP1 A</text>
                                            <circle cx="425" cy="78" r="5" fill="white" stroke-width="2" stroke="gray"></circle>
                                            <text x="440" y="83" font-size="12">TP2 A</text>
                                            <rect x="420" y="91" width="10" height="10" fill="white" stroke-width="2" stroke="gray"></rect>
                                            <text x="440" y="101" font-size="12">TP3 A</text>
                                            <polygon points="425,110 420,120 430,120" fill="black" stroke-width="2" stroke="gray"></polygon>
                                            <text x="440" y="120" font-size="12">TP1 B</text>
                                            <circle cx="425" cy="134" r="5" fill="black" stroke-width="2" stroke="gray"></circle>
                                            <text x="440" y="139" font-size="12">TP2 B</text>
                                            <rect x="420" y="148" width="10" height="10" fill="black" stroke-width="2" stroke="gray"></rect>
                                            <text x="440" y="158" font-size="12">TP3 B</text>
                                            <polygon points="425,167 420,177 430,177" fill="pink" stroke-width="2" stroke="gray"></polygon>
                                            <text x="440" y="177" font-size="12">TP1 C</text>
                                            <circle cx="425" cy="191" r="5" fill="pink" stroke-width="2" stroke="gray"></circle>
                                            <text x="440" y="196" font-size="12">TP2 C</text>
                                            <rect x="420" y="205" width="10" height="10" fill="pink" stroke-width="2" stroke="gray"></rect>
                                            <text x="440" y="215" font-size="12">TP3 C</text>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <div class="risk-matrix">
                                <div class="risk-matrix-dots">
                                    <!-- A Leakage to Atmosphere -->
                                    <div class="dot dot-tp3 type-a" id="TP3A"></div>
                                    <div class="dot dot-tp2 type-a" id="TP2A"></div>
                                    <div class="dot dot-tp1 type-a" id="TP1A"></div>
                                    <!-- B Failure -->
                                    <div class="dot dot-tp3 type-b" id="TP3B"></div>
                                    <div class="dot dot-tp2 type-b" id="TP2B"></div>
                                    <div class="dot dot-tp1 type-b" id="TP1B"></div>
                                    <!-- C Passing Accross Valve -->
                                    <div class="dot dot-tp3 type-c" id="TP3C"></div>
                                    <div class="dot dot-tp2 type-c" id="TP2C"></div>
                                    <div class="dot dot-tp1 type-c" id="TP1C"></div>
                                </div>
                                <svg id="risk-table" width="250" height="250">
                                    <g>
                                        <g>
                                            <rect x="0" y="200" width="50" height="50" fill="#81B014" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="50" y="200" width="50" height="50" fill="#81B014" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="100" y="200" width="50" height="50" fill="#008001" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="150" y="200" width="50" height="50" fill="#FFFF00" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="200" y="200" width="50" height="50" fill="#FF6400" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                            <rect x="200" y="200" width="1" height="50" fill="#FF6400" stroke="rgb(0,0,0)" stroke-width="5"></rect>
                                        </g>
                                        <g>
                                            <rect x="0" y="150" width="50" height="50" fill="#6FA529" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="50" y="150" width="50" height="50" fill="#008001" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="100" y="150" width="50" height="50" fill="#FFFF00" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="150" y="150" width="50" height="50" fill="#FF6400" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                            <rect x="150" y="150" width="1" height="50" fill="#FFFF00" stroke="rgb(0,0,0)" stroke-width="5"></rect>
                                            <rect x="150" y="200" width="50" height="1" fill="#FFFF00" stroke="rgb(0,0,0)" stroke-width="5"></rect>
                                        </g>
                                        <g>
                                            <rect x="200" y="150" width="50" height="50" fill="#FF6400" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="0" y="100" width="50" height="50" fill="#008001" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="50" y="100" width="50" height="50" fill="#FFFF00" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="100" y="100" width="50" height="50" fill="#FFFF00" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="150" y="100" width="50" height="50" fill="#FF6400" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                            <rect x="150" y="100" width="1" height="50" fill="#FF6400" stroke="rgb(0,0,0)" stroke-width="5"></rect>
                                        </g>
                                        <g>
                                            <rect x="200" y="100" width="50" height="50" fill="#FE0000" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="0" y="50" width="50" height="50" fill="#FFFF00" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="50" y="50" width="50" height="50" fill="#FF6400" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                            <rect x="50" y="50" width="1" height="50" fill="#FF6400" stroke="rgb(0,0,0)" stroke-width="5"></rect>
                                            <rect x="50" y="100" width="50" height="1" fill="#FF6400" stroke="rgb(0,0,0)" stroke-width="5"></rect>
                                        </g>
                                        <g>
                                            <rect x="100" y="50" width="50" height="50" fill="#FF6400" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                            <rect x="100" y="100" width="50" height="1" fill="#FF6400" stroke="rgb(0,0,0)" stroke-width="5"></rect>
                                        </g>
                                        <g>
                                            <rect x="150" y="50" width="50" height="50" fill="#FE0000" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="200" y="50" width="50" height="50" fill="#FE0000" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="0" y="0" width="50" height="50" fill="#FF6400" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="50" y="0" width="50" height="50" fill="#FF6400" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                            <rect x="50" y="0" width="1" height="50" fill="#FF6400" stroke="rgb(0,0,0)" stroke-width="5"></rect>
                                        </g>
                                        <g>
                                            <rect x="100" y="0" width="50" height="50" fill="#FE0000" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="150" y="0" width="50" height="50" fill="#FE0000" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                        <g>
                                            <rect x="200" y="0" width="50" height="50" fill="#FE0000" stroke="rgb(0,0,0)" stroke-width="1"></rect>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <table id="example" class="table table-hover custom-table basic-th mt-4" style="width:100%">
                            <tbody>
                                <tr>
                                    <td class="ta-center header-cell">Limit State</td>
                                    <td class="ta-center header-cell">Risk TP1</td>
                                    <td class="ta-center header-cell">Risk TP2</td>
                                    <td class="ta-center header-cell">Risk TP3</td>
                                    <td class="ta-center header-cell">Time To Action</td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Leakage Atmosphere</td>
                                    <td>
                                        <div class="d-flex">
                                            <div TP1A-colorlabel id="TP1A-colorlabel"></div>
                                            <span TP1A-label id="TP1A-label"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div TP2A-colorlabel id="TP2A-colorlabel"></div>
                                            <span TP2A-label id="TP2A-label"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div TP3A-colorlabel id="TP3A-colorlabel"></div>
                                            <span TP3A-label id="TP3A-label"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <span TPA-TTA id="TPTIMETOACTIONA-label"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Failure of function</td>
                                    <td>
                                        <div class="d-flex">
                                            <div TP1B-colorlabel id="TP1B-colorlabel"></div>
                                            <span TP1B-label id="TP1B-label"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div TP2B-colorlabel id="TP2B-colorlabel"></div>
                                            <span TP2B-label id="TP2B-label"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div TP3B-colorlabel id="TP3B-colorlabel"></div>
                                            <span TP3B-label id="TP3B-label"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <span TPB-TTA id="TPTIMETOACTIONB-label"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Passing across valve</td>
                                    <td>
                                        <div class="d-flex">
                                            <div TP1C-colorlabel id="TP1C-colorlabel"></div>
                                            <span TP1C-label id="TP1C-label"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div TP2C-colorlabel id="TP2C-colorlabel"></div>
                                            <span TP2C-label id="TP2C-label"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div TP3C-colorlabel id="TP3C-colorlabel"></div>
                                            <span TP3C-label id="TP3C-label"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <span TPC-TTA id="TPTIMETOACTIONC-label"></span>
                                    </td>
                                </tr>
                            <tfoot class="bg-grey">
                                <tr>
                                    <td class="header-cell">Risk</td>
                                    <td>
                                        <div class="d-flex">
                                            <div TP1RISK-colorlabel id="TP1RISK-colorlabel"></div>
                                            <span TP1RISK-label id="TP1RISK-label"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div TP2RISK-colorlabel id="TP2RISK-colorlabel"></div>
                                            <span TP2RISK-label id="TP2RISK-label"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div TP3RISK-colorlabel id="TP3RISK-colorlabel"></div>
                                            <span TP3RISK-label id="TP3RISK-label"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <span TPRISK-TTA id="TPTIMETOACTIONRISK-label"></span>
                                    </td>
                                </tr>
                            </tfoot>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box">
                    <div class="subheader m-0">
                        <b>Integrity plan</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-grid">
                            <div class="form-group-inline">
                                <label for="integrity-status">Integrity Status</label>
                                <input type="text" class="form-control" id="integrity-status" readonly>
                            </div>
                            <div class="form-group-inline">
                                <label for="time-to-action">Time to action</label>
                                <input type="text" class="form-control" id="time-to-action" readonly>
                            </div>
                            <div class="form-group-inline">
                                <label for="recommended-action">Recommended Action</label>
                                <input type="text" class="form-control" id="recommended-action" readonly>
                            </div>
                            <div></div>
                            <div class="form-group-inline">
                                <label for="summary" style="align-self: start;">Summary</label>
                                <texarea class="form-control" id="summary" readonly style="min-height: 100px;"></texarea>
                            </div>
                            <div class="form-group-inline">
                                <label for="detailed-recommendation" style="align-self: start;">Detailed Recommendation</label>
                                <texarea class="form-control" id="detailed-recommendation" readonly style="min-height: 100px;"></texarea>
                            </div>
                        </div>
                        <div>
                            <div class="box-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<input type="hidden" id="urlddlbusinessarea" value="@urlddlbusinessarea">
<input type="hidden" id="urlbtnfilter" value="@urlbtnfilter">
<input type="hidden" id="urlinspectiondetail" value="@urlinspectiondetail">
<input type="hidden" id="urlmaintenancedetail" value="@urlmaintenancedetail">
<input type="hidden" id="urlassessmentdetail" value="@urlassessmentdetail">

@section Scripts {
    <script src="~/js/home/detail.js"></script>
}