@{
    ViewData["Title"] = "Summary";
    var message = TempData["Message"];
    var assessmentMap = ViewData["AssessmentHeatMap"] as Dictionary<string, string>;
    var jsonAssessmentMap = Json.Serialize(assessmentMap);
    var assessmentPieChart = ViewData["AssessmentPieChart"] as Dictionary<string, string>;
    var jsonAssessmentPieChart = Json.Serialize(assessmentPieChart);
    var assessmentBarChart = ViewData["AssessmentBarChart"] as Dictionary<string, Dictionary<string, string>>;
    var jsonAssessmentBarChart = Json.Serialize(assessmentBarChart);
    var assessmentIntegrity = ViewData["AssessmentIntegrity"] as Dictionary<string, string>;
    var jsonAssessmentIntegrity = Json.Serialize(assessmentIntegrity);
    var assetDistribution = ViewData["AssetDistribution"] as Dictionary<string, int>;
}
<link rel="stylesheet" href="~/css/home/index.css" asp-append-version="true" />
<div class="container-fluid">
    
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <partial name="HomeSidebar" />
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="content-container">
                @if (message != null)
                {
                    <div class="alert alert-warning alert-dismissible">
                        @message
                    </div>
                }
                <div class="card">
                    <div class="card-header">
                        <b>Total Asset</b>
                    </div>
                    <div class="card-body" style="padding: 10px 5px;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="info-card orange">
                                    <div class="info-card__title">
                                        North Business Unit
                                    </div>
                                    <div class="info-card__content">
                                        <text style="font-size: larger">
                                        @if (assetDistribution != null)
                                        {
                                            @assetDistribution["NBU"]
                                        }
                                        </text>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info-card green">
                                    <div class="info-card__title">
                                        South Business Unit
                                    </div>
                                    <div class="info-card__content">
                                        <text style="font-size: larger">
                                        @if (assetDistribution != null)
                                        {
                                            @assetDistribution["SBU"]
                                        }
                                        </text>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info-card blue">
                                    <div class="info-card__title">
                                        Central Business Unit
                                    </div>
                                    <div class="info-card__content">
                                        <text style="font-size: larger">
                                        @if (assetDistribution != null)
                                        {
                                            @assetDistribution["CBU"]
                                        }
                                        </text>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card h-100">
                            <div class="card-header">
                                <b>Risk Matrix</b>
                            </div>
                            <div class="card-body risk-heatmap-container" style="aspect-ratio: 1;">
                                <div id="risk-heatmap" style="aspect-ratio: 1;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100">
                            <div class="card-header">
                                <b>Risk Distribution</b>
                            </div>
                            <div class="card-body" style="aspect-ratio: 1;">
                                <div id="risk-piechart" style="aspect-ratio: 1;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100">
                            <div class="card-header">
                                <b>Priority</b>
                            </div>
                            <div class="card-body">
                                <div id="risk-barchart-horizontal"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <b>Risk Status per Area</b>
                            </div>
                            <div class="card-body">
                                <div id="risk-barchart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<input type="hidden" id="assessmentIntegrityveryhigh" value="@assessmentIntegrity["Very High"]">
<input type="hidden" id="assessmentIntegrityhigh" value="@assessmentIntegrity["High"]">
<input type="hidden" id="assessmentIntegritymedium" value="@assessmentIntegrity["Medium"]">
<input type="hidden" id="assessmentIntegritylow" value="@assessmentIntegrity["Low"]">
<input type="hidden" id="assessmentIntegrityverylow" value="@assessmentIntegrity["Very Low"]">
<input type="hidden" id="assessmentMap1A" value="@assessmentMap["1A"]">
<input type="hidden" id="assessmentMap1B" value="@assessmentMap["1B"]">
<input type="hidden" id="assessmentMap1C" value="@assessmentMap["1C"]">
<input type="hidden" id="assessmentMap1D" value="@assessmentMap["1D"]">
<input type="hidden" id="assessmentMap1E" value="@assessmentMap["1E"]">
<input type="hidden" id="assessmentMap2A" value="@assessmentMap["2A"]">
<input type="hidden" id="assessmentMap2B" value="@assessmentMap["2B"]">
<input type="hidden" id="assessmentMap2C" value="@assessmentMap["2C"]">
<input type="hidden" id="assessmentMap2D" value="@assessmentMap["2D"]">
<input type="hidden" id="assessmentMap2E" value="@assessmentMap["2E"]">
<input type="hidden" id="assessmentMap3A" value="@assessmentMap["3A"]">
<input type="hidden" id="assessmentMap3B" value="@assessmentMap["3B"]">
<input type="hidden" id="assessmentMap3C" value="@assessmentMap["3C"]">
<input type="hidden" id="assessmentMap3D" value="@assessmentMap["3D"]">
<input type="hidden" id="assessmentMap3E" value="@assessmentMap["3E"]">
<input type="hidden" id="assessmentMap4A" value="@assessmentMap["4A"]">
<input type="hidden" id="assessmentMap4B" value="@assessmentMap["4B"]">
<input type="hidden" id="assessmentMap4C" value="@assessmentMap["4C"]">
<input type="hidden" id="assessmentMap4D" value="@assessmentMap["4D"]">
<input type="hidden" id="assessmentMap4E" value="@assessmentMap["4E"]">
<input type="hidden" id="assessmentMap5A" value="@assessmentMap["5A"]">
<input type="hidden" id="assessmentMap5B" value="@assessmentMap["5B"]">
<input type="hidden" id="assessmentMap5C" value="@assessmentMap["5C"]">
<input type="hidden" id="assessmentMap5D" value="@assessmentMap["5D"]">
<input type="hidden" id="assessmentMap5E" value="@assessmentMap["5E"]">
<input type="hidden" id="jsonAssessmentPieChart" value="@Html.Raw(Html.Encode(jsonAssessmentPieChart))">
<input type="hidden" id="jsonAssessmentBarChart" value="@Html.Raw(Html.Encode(jsonAssessmentBarChart))">


@section Scripts {
    <script src="~/js/home/index.js" asp-append-version="true"></script>
}