@{
    ViewData["Title"] = "Export Assessment";
    var areaList = ViewData["areaList"] as List<AreaModel>;
    var assessmentList = ViewData["assessmentList"] as List<AssessmentModel>;
    string urlddlbusinessarea = Url.Action("GetPlatformList", "AssetRegister");
    string urlbtnfilter = Url.Action("GetAssessmentList", "Assessment");
}
<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 subheader-negative-margin">
            <div class="subheader">
                <b>Export Assessment</b>
            </div>
            <div class="content-container">
                <div class="row ">
                    <div class="col-md-12">
                        <form class="filter-area">
                            <select id="ddlBusinessArea" class="form-select form-select-sm filter-select" aria-label="Small select example">
                               <option value="">All Area</option>
                                @if (areaList != null)
                                {
                                    foreach (var item in areaList)
                                    {
                                        <option value="@item.Id">@item.BusinessArea</option>
                                    }
                                }
                            </select>
                            <select id="ddlPlatform" class="form-select form-select-sm filter-select" aria-label="Small select example">
                                <option selected>All Platform</option>
                            </select>
                            <a class="btn btn-outline-dark btn-sm" id="btnFilter" style="margin-right: 32px;"><i class="bi bi-search"></i> Filter</a>
                            <a class="btn btn-outline-dark btn-sm" id="btnExcel"><i class="bi bi-file-earmark-excel"></i> Export to Excel</a>
                            <div style="flex:1;"></div>
                            <div class="input-group input-group-sm input-search">
                                <span class="input-group-text" id="basic-addon1">
                                <i class="bi bi-search"></i>
                                </span>
                                <input type="text" class="form-control form-control-sm" placeholder="Search" oninput="dataTableSearch(this.value)">
                            </div>
                        </form>

                        <table class="table table-bordered datatable datatable-custom datatable-invert" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Valve Tag No</th>
                                    <th>Business Unit Area</th>
                                    <th>Platform</th>
                                    <th>Parent Equipment No.</th>
                                    <th>Value Type</th>
                                    <th>Parent Equipment Description</th>
                                    <th>Installation Date (dd/mm/yyyy)</th>
                                    <th>PID. No.</th>
                                    <th>Valve Type</th>
                                    <th>Size</th>
                                    <th>Class/Rating</th>
                                    <th>Assessment Date (dd/mm/yyyy)</th>
                                    <th>Last Inspection Date (dd/mm/yyyy)</th>
                                    <th>Last Maintenance Date (dd/mm/yyyy)</th>
                                    <th>Leakage to atmosphere TP1</th>
                                    <th>Leakage to atmosphere TP2</th>
                                    <th>Leakage to atmosphere TP3</th>
                                    <th>Failure of function TP1</th>
                                    <th>Failure of function TP2</th>
                                    <th>Failure of function TP3</th>
                                    <th>Passing across valve TP1</th>
                                    <th>Passing across valve TP2</th>
                                    <th>Passing across valve TP3</th>
                                    <th>Risk TP1</th>
                                    <th>Risk TP2</th>
                                    <th>Risk TP3</th>
                                    <th>Recommendation Action</th>
                                    <th>Time to Action</th>
                                    <th>LF1-Leakage to atmophere</th>
                                    <th>LF1-Failure of function</th>
                                    <th>LF1-Passing accross valve</th>
                                    <th>LF2-Leakage to atmophere TP1</th>
                                    <th>LF2-Failure of function TP1</th>
                                    <th>LF2-Passing accross valve TP1</th>
                                    <th>LF2-Leakage to atmophere TP2</th>
                                    <th>LF2-Failure of function TP2</th>
                                    <th>LF2-Passing accross valve TP2</th>
                                    <th>LF2-Leakage to atmophere TP3</th>
                                    <th>LF2-Failure of function TP3</th>
                                    <th>LF2-Passing accross valve TP3</th>
                                    <th>LF3-Inspection Effectiveness</th>
                                    <th>LF4-Impact of Internal Fluid Impurities</th>
                                    <th>LF5-Impact of Operating Envelopes</th>
                                    <th>LF6-Used within OEM Specification</th>
                                    <th>LF7-Repaired</th>
                                    <th>CF1-Product loss definition (bbls)</th>
                                    <th>CF2-HSSE Definision</th>
                                    <th>LoF Score-Leakage to atmophere TP1</th>
                                    <th>LoF Score-Failure of function TP1</th>
                                    <th>LoF Score-Passing accross valve TP1</th>
                                    <th>LoF Score-Leakage to atmophere TP2</th>
                                    <th>LoF Score-Failure of function TP2</th>
                                    <th>LoF Score-Passing accross valve TP2</th>
                                    <th>LoF Score-Leakage to atmophere TP3</th>
                                    <th>LoF Score-Failure of function TP3</th>
                                    <th>LoF Score-Passing accross valve TP3</th>
                                    <th>CoF Score</th>
                                </tr>
                            </thead>
                            <tbody id="table-detail">
                                @{
                                    int ctr = 0;
                                    if (assessmentList != null)
                                    {
                                        foreach (var item in assessmentList)
                                        {
                                            ctr++;
                                            <tr>
                                                <td>@ctr</td>
                                                <td>@item.Asset.TagNo</td>
                                                <td>@item.Asset.BusinessArea</td>
                                                <td>@item.Asset.Platform</td>
                                                <td>@item.Asset.ParentEquipmentNo</td>
                                                <td>@item.Asset.ValveType</td>
                                                <td>@item.Asset.ParentEquipmentDescription</td>
                                                <td>@item.Asset.InstallationDate</td>
                                                <td>@item.Asset.PIDNo</td>
                                                <td>@item.Asset.ValveType</td>
                                                <td>@item.Asset.Size</td>
                                                <td>@item.Asset.ClassRating</td>
                                                <td>@item.AssessmentDate</td>
                                                <td>@item.LastInspectionDate</td>
                                                <td>@item.LastMaintenanceDate</td>
                                                <td>@item.TP1A</td>
                                                <td>@item.TP2A</td>
                                                <td>@item.TP3A</td>
                                                <td>@item.TP1B</td>
                                                <td>@item.TP2B</td>
                                                <td>@item.TP3B</td>
                                                <td>@item.TP1C</td>
                                                <td>@item.TP2C</td>
                                                <td>@item.TP3C</td>
                                                <td>@item.TP1Risk</td>
                                                <td>@item.TP2Risk</td>
                                                <td>@item.TP3Risk</td>
                                                <td>@item.RecommendationAction</td>
                                                <td>@item.TPTimeToActionRisk</td>
                                                <td>@item.LeakageToAtmosphere</td>
                                                <td>@item.FailureOfFunction</td>
                                                <td>@item.PassingAccrosValve</td>
                                                <td>@item.LeakageToAtmosphereTP1</td>
                                                <td>@item.LeakageToAtmosphereTP2</td>
                                                <td>@item.LeakageToAtmosphereTP3</td>
                                                <td>@item.FailureOfFunctionTP1</td>
                                                <td>@item.FailureOfFunctionTP2</td>
                                                <td>@item.FailureOfFunctionTP3</td>
                                                <td>@item.PassingAccrosValveTP1</td>
                                                <td>@item.PassingAccrosValveTP2</td>
                                                <td>@item.PassingAccrosValveTP3</td>
                                                <td>@item.InspectionEffectiveness</td>
                                                <td>@item.ImpactOfInternalFluidImpurities</td>
                                                <td>@item.ImpactOfOperatingEnvelopes</td>
                                                <td>@item.UsedWithinOEMSpecification</td>
                                                <td>@item.Repaired</td>
                                                <td>@item.ProductLossDefinition</td>
                                                <td>@item.HSSEDefinision</td>
                                                <td>@item.LoFScoreLeakageToAtmophereTP1</td>
                                                <td>@item.LoFScoreFailureOfFunctionTP1</td>
                                                <td>@item.LoFScorePassingAccrosValveTP1</td>
                                                <td>@item.LoFScoreLeakageToAtmophereTP2</td>
                                                <td>@item.LoFScoreFailureOfFunctionTP2</td>
                                                <td>@item.LoFScorePassingAccrosValveTP2</td>
                                                <td>@item.LoFScoreLeakageToAtmophereTP3</td>
                                                <td>@item.LoFScoreFailureOfFunctionTP3</td>
                                                <td>@item.LoFScorePassingAccrosValveTP3</td>
                                                <td>@item.CoFScore</td>
                                            </tr>
                                        }
                                    }
                                }
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

@section Scripts {
    <script>
        const dataTableOptions = {
            layout: {
                topStart: {
                    buttons: ['excel']
                },
                topEnd: 'search',
                bottomStart: null,
                bottomEnd: null
            }
        }

        initDatatable(dataTableOptions)

        $(document).ready(function () {
            $('#ddlBusinessArea').on('change', function () {
                var areaId = $(this).val();
                $.ajax({
                    url: '@urlddlbusinessarea',
                    type: 'GET',
                    data: { areaId: areaId },
                    success: function (data) {
                        $('#ddlPlatform').empty();
                        $('#ddlPlatform').append('<option value="">All Platform</option>');
                        $.each(data, function (i, item) {
                            $('#ddlPlatform').append('<option value="' + item.id + '">' + item.platform + '</option>');
                        });
                    }
                });
            });

            $('#btnFilter').on('click', function (e) {
                var areaId = $('#ddlBusinessArea').val();
                var platformId = $('#ddlPlatform').val();
                $.ajax({
                    url: '@urlbtnfilter',
                    type: 'GET',
                    data: { areaId: areaId, platformId: platformId },
                    success: function (data) {
                        $(".datatable").DataTable().destroy();
                        $('#table-detail').html('');
                        $.each(data, function (i, item) {
                            var html = `
                                <tr>
                                    <td>${i + 1}</td>
                                    <td>${item.asset.tagNo}</td>
                                    <td>${item.asset.businessArea}</td>
                                    <td>${item.asset.platform}</td>
                                    <td>${item.asset.parentEquipmentNo}</td>
                                    <td>${item.asset.valveType}</td>
                                    <td>${item.asset.parentEquipmentDescription}</td>
                                    <td>${item.asset.installationDate}</td>
                                    <td>${item.asset.pidNo}</td>
                                    <td>${item.asset.valveType}</td>
                                    <td>${item.asset.size}</td>
                                    <td>${item.asset.classRating}</td>
                                    <td>${item.assessmentDate}</td>
                                    <td>${item.lastInspectionDate}</td>
                                    <td>${item.lastMaintenanceDate}</td>
                                    <td>${item.tp1A}</td>
                                    <td>${item.tp2A}</td>
                                    <td>${item.tp3A}</td>
                                    <td>${item.tp1B}</td>
                                    <td>${item.tp2B}</td>
                                    <td>${item.tp3B}</td>
                                    <td>${item.tp1C}</td>
                                    <td>${item.tp2C}</td>
                                    <td>${item.tp3C}</td>
                                    <td>${item.tp1Risk}</td>
                                    <td>${item.tp2Risk}</td>
                                    <td>${item.tp3Risk}</td>
                                    <td>${item.recommendationAction}</td>
                                    <td>${item.tpTimeToActionRisk}</td>
                                    <td>${item.leakageToAtmosphere}</td>
                                    <td>${item.failureOfFunction}</td>
                                    <td>${item.passingAccrosValve}</td>
                                    <td>${item.leakageToAtmosphereTP1}</td>
                                    <td>${item.leakageToAtmosphereTP2}</td>
                                    <td>${item.leakageToAtmosphereTP3}</td>
                                    <td>${item.failureOfFunctionTP1}</td>
                                    <td>${item.failureOfFunctionTP2}</td>
                                    <td>${item.failureOfFunctionTP3}</td>
                                    <td>${item.passingAccrosValveTP1}</td>
                                    <td>${item.passingAccrosValveTP2}</td>
                                    <td>${item.passingAccrosValveTP3}</td>
                                    <td>${item.inspectionEffectiveness}</td>
                                    <td>${item.impactOfInternalFluidImpurities}</td>
                                    <td>${item.impactOfOperatingEnvelopes}</td>
                                    <td>${item.usedWithinOEMSpecification}</td>
                                    <td>${item.repaired}</td>
                                    <td>${item.productLossDefinition}</td>
                                    <td>${item.hsseDefinision}</td>
                                    <td>${item.loFScoreLeakageToAtmophereTP1}</td>
                                    <td>${item.loFScoreFailureOfFunctionTP1}</td>
                                    <td>${item.loFScorePassingAccrosValveTP1}</td>
                                    <td>${item.loFScoreLeakageToAtmophereTP2}</td>
                                    <td>${item.loFScoreFailureOfFunctionTP2}</td>
                                    <td>${item.loFScorePassingAccrosValveTP2}</td>
                                    <td>${item.loFScoreLeakageToAtmophereTP3}</td>
                                    <td>${item.loFScoreFailureOfFunctionTP3}</td>
                                    <td>${item.loFScorePassingAccrosValveTP3}</td>
                                    <td>${item.coFScore}</td>
                                </tr>`
                            $('#table-detail').append(html);
                        });
                        initDatatable(dataTableOptions)
                    }
                });
            });
        });

            $('#btnExcel').on('click', () => {
                $('.dt-button.buttons-excel').trigger('click')
            })
    </script>
}