@{
    ViewData["Title"] = "Inspection";
    var ConditionLimitStateModel = new ConditionLimitStateModel();
    var limitState = ConditionLimitStateModel.GetConditionLimitStates();

    var InspectionEffectivenessModel = new InspectionEffectivenessModel();
    var inspectionEffectivenessStates = InspectionEffectivenessModel.GetInspectionEffectivenessStates();

    var IsValveRepairedModel = new IsValveRepairedModel();
    var isValveRepairedStates = IsValveRepairedModel.GetIsValveRepairedStates();
}

<div class="row">
    <div class="col-xs-2">
        <partial name="InspectionAssesmentSidebar" />
    </div>
    <div class="col-xs-10">
        <div>
            <ul class="nav nav-tabs nav-tab-menus" id="inspectiontabheader">
                <li class="active">
                    <a href="#welcome" data-toggle="tab">Welcome</a>
                </li>
                <li id="template_inspection_header">
                    <a href="#inspection1" data-toggle="tab">New Inspection WIB-PSV-V05A-4 <button type="button"
                            class="btn-close-inspection"
                            style="margin: 0;padding: 5;border:none;background-color: inherit; color: black;">X</button>
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="tabcontentcontainer">
                <div class="tab-pane active" id="welcome">
                    <div class="row">
                        <h1>Welcome to Inspection</h1>
                        To start Inspection please choose assessment in tree view <br /> <br />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl id tincidunt
                            aliquam, nunc nunc lacinia elit, nec tincidunt mauris nisl id nunc. Sed euismod, nisl id
                            tincidunt aliquam, nunc nunc lacinia elit, nec tincidunt mauris nisl id nunc.
                        </p>
                    </div>
                </div>
                <div class="tab-pane" id="template_inspection">
                    <form>
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Inspection Information</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="field-inspection-valvetagno">Valve Tag No</label>
                                                <input type="text" class="form-control" id="field-inspection-valvetagno"
                                                    value="WIB-PSV-V05A-4" readonly>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="field-inspection-current-condition-limit-state-a">Current
                                                    Condition Limit State
                                                    A</label>
                                                <select class="form-control"
                                                    id="field-inspection-current-condition-limit-state-a">
                                                    @foreach (var item in limitState)
                                                    {
                                                            <option value="@item.Id">@item.LimitState</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="field-inspection-date">Inspection Date</label>
                                                <input id="field-inspection-date" type="text"
                                                    class="form-control datepicker" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="field-inspection-current-condition-limit-state-b">Current
                                                    Condition Limit State B</label>
                                                <select class="form-control"
                                                    id="field-inspection-current-condition-limit-state-b">
                                                    @foreach (var item in limitState)
                                                    {
                                                            <option value="@item.Id">@item.LimitState</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="field-inspection-inspection-method">Inspection
                                                    Method</label>
                                                <input type="text" class="form-control"
                                                    id="field-inspection-inspection-method" value="Visual Inspection">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="field-inspection-current-condition-limit-state-c">Current
                                                    Condition Limit State C</label>
                                                <select class="form-control"
                                                    id="field-inspection-current-condition-limit-state-c">
                                                    @foreach (var item in limitState)
                                                    {
                                                            <option value="@item.Id">@item.LimitState</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="field-inspection-effectiveness">Inspection
                                                    Effectiveness</label>
                                                <select class="form-control" id="field-inspection-effectiveness">
                                                    @foreach (var item in inspectionEffectivenessStates)
                                                    {
                                                            <option value="@item.Id">@item.Effectiveness</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="field-inspection-function-condition">Function
                                                    Condition</label>
                                                <input type="text" class="form-control"
                                                    id="field-inspection-function-condition" value="Packing Leak">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="field-inspection-description">Inspection Description</label>
                                                <textarea class="form-control" id="field-inspection-description"
                                                    rows="10">N/A</textarea>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label for="field-inspection-test-pressure-if-any">Test Pressure
                                                            if Any</label>
                                                        <input type="text" class="form-control"
                                                            id="field-inspection-test-pressure-if-any" value="N/A">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label for="field-inspection-image">Inspection Image</label>
                                                        <input type="file" class="form-control"
                                                            id="field-inspection-image-1">
                                                        <input type="file" class="form-control"
                                                            id="field-inspection-image-2">
                                                        <input type="file" class="form-control"
                                                            id="field-inspection-image-3">
                                                        <input type="file" class="form-control"
                                                            id="field-inspection-image-4">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Maintenance Information</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="field-inspection-maintenancecate">Maintenance Date</label>
                                                <input type="text" class="form-control datepicker"
                                                    id="field-inspection-maintenancedate">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="field-inspection-isvalverepaired">Is Valve Repaired</label>
                                                <select class="form-control" id="field-inspection-isvalverepaired">
                                                    @foreach (var item in isValveRepairedStates)
                                                    {
                                                            <option value="@item.Id">@item.IsValveRepaired</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="field-inspection-maintenancedescription">Maintenance
                                                    Description</label>
                                                <textarea class="form-control"
                                                    id="field-inspection-maintenancedescription" rows="5"></textarea>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="field-inspection-image">Maintenance Image</label>
                                                <input type="file" class="form-control" id="field-inspection-image1">
                                                <input type="file" class="form-control" id="field-inspection-image2">
                                                <input type="file" class="form-control" id="field-inspection-image3">
                                                <input type="file" class="form-control" id="field-inspection-image4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="box">
                            <div class="box-footer">
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary form-submit"
                                        id="btn-submit">Save</button>
                                    <button type="button" class="btn btn-warning form-submit"
                                        id="btn-submit">Print</button>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <button type="button" class="btn btn-danger form-submit pull-right"
                                        id="btn-submit">Delete</button>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
        <script>
            $(document).ready(function () {
                var template_inspection = $('#template_inspection');
                var template_inspection_html = template_inspection.html();
                template_inspection.remove();
                var template_inspection_header = $('#template_inspection_header');
                var template_inspection_header_html = template_inspection_header.html();
                template_inspection_header.remove();

                $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    todayHighlight: true
                });

                var idx = 0;
                $('.btn-add-new-inspection').click(function () {
                    var ctr = idx;
                    var id = $(this).attr('attr-id');
                    var name = $(this).attr('attr-name');
                    var tabheadercontainer = $('#inspectiontabheader');
                    var tabcontentcontainer = $('#tabcontentcontainer');
                    tabheadercontainer.append('<li id="inspectionheader' + ctr + '"><a href="#inspection' + ctr + '" data-toggle="tab">New Inspection ' + name + ' <button type="button" class="btn-close-inspection" style="margin: 0;padding: 5;border:none;background-color: inherit; color: black;">X</button></a></li>');
                    tabcontentcontainer.append('<div class="tab-pane" id="inspection' + ctr + '">' + template_inspection_html + '</div>');
                    var tabcontent = tabcontentcontainer.find('.form-control');
                    tabcontent.each(function () {
                        var name = $(this).attr('id') + ctr;
                        $(this).attr('id', name);
                    });
                    //find button submit then add ctr on id
                    var submitbtn = tabcontentcontainer.find('.form-submit');
                    submitbtn.each(function () {
                        var name = $(this).attr('id') + ctr;
                        $(this).attr('id', name);
                    })

                    $('#inspectionheader' + ctr).find('a').click();

                    $('#field-inspection-valvetagno' + ctr).val('');
                    $('#field-inspection-current-condition-limit-state-a' + ctr).val('');
                    $('#field-inspection-date' + ctr).val('');
                    $('#field-inspection-current-condition-limit-state-b' + ctr).val('');
                    $('#field-inspection-inspection-method' + ctr).val('');
                    $('#field-inspection-current-condition-limit-state-c' + ctr).val('');
                    $('#field-inspection-effectiveness' + ctr).val('');
                    $('#field-inspection-function-condition' + ctr).val('');
                    $('#field-inspection-description' + ctr).val('');
                    $('#field-inspection-test-pressure-if-any' + ctr).val('');
                    $('#field-inspection-image-1' + ctr).val('');
                    $('#field-inspection-image-2' + ctr).val('');
                    $('#field-inspection-image-3' + ctr).val('');
                    $('#field-inspection-image-4' + ctr).val('');
                    $('#field-inspection-maintenancedate' + ctr).val('');
                    $('#field-inspection-isvalverepaired' + ctr).val('');
                    $('#field-inspection-maintenancedescription' + ctr).val('');
                    $('#field-inspection-image1' + ctr).val('');
                    $('#field-inspection-image2' + ctr).val('');
                    $('#field-inspection-image3' + ctr).val('');
                    $('#field-inspection-image4' + ctr).val('');
                    $.ajax({
                        url: '/AssetRegister/GetAssetDetail',
                        type: 'GET',
                        data: { id: id },
                        success: function (data) {
                            $('#field-inspection-valvetagno' + ctr).val(data.tagNo);
                        },
                        error: function (error) {
                            alert('Valve Tag not found');
                            $('#inspectionheader' + ctr).remove();
                            $('#inspection' + ctr).remove();
                            var lasttab = $('#inspectiontabheader li:last-child');
                            lasttab.find('a').click();
                        }
                    });

                    $('.btn-close-inspection').click(function () {
                        close_inspection(ctr);
                    });

                    $('.datepicker').datepicker({
                        format: 'dd/mm/yyyy',
                        autoclose: true,
                        todayHighlight: true
                    });
                    idx++;
                });

                $('.btn-close-inspection').click(function () {
                    var currctr = $(this).parent().parent().attr('id').replace('inspectionheader', '');
                    close_inspection(currctr);
                });
            });
        </script>
}
