@using SharedLayer
@{
    ViewData["Title"] = "Inspection";
    var limitState = ViewData["CurrentConditionLimitStateData"] as List<CurrentConditionLimitStateData>;
    var inspectionEffectivenessStates = ViewData["InspectionEffectivenessData"] as List<InspectionEffectivenessData>;
    var inspectionMethods = ViewData["InspectionMethodData"] as List<InspectionMethodData>;
    var isValveRepairedStates = ViewData["IsValveRepairedData"] as List<IsValveRepairedData>;
    var baseurl = Url.Action("", "");
    var urlupdateinspection = Url.Action("UpdateInspection", "Inspection");
    var urladdinspection = Url.Action("AddInspection", "Inspection");
    var urldeleteinspection = Url.Action("DeleteInspection", "Inspection");
    var urlgetinspectiondetail = Url.Action("GetInspectionDetail", "Inspection");
    var urlgetassetdetail = Url.Action("GetAssetDetail", "AssetRegister");
    var urlinspectionprint = Url.Action("PrintInspection", "Inspection");
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var tokens = Xsrf.GetAndStoreTokens(Context);
}
<link rel="stylesheet" href="~/css/print.css" asp-append-version="true" />

<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary non-printable">
            <partial name="InspectionAssessmentSidebar" />
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 p-0 subheader-negative-margin with-bg-image">
            <div>
                <ul class="nav nav-tabs nav-tab-menus" id="inspectiontabheader" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#welcome" data-bs-toggle="tab" data-bs-target="#welcome"
                            type="button" role="tab">
                            Welcome
                        </a>
                    </li>
                    <li class="nav-item" id="template_inspection_header">
                        <a class="nav-link" href="#inspection1" data-bs-toggle="tab" data-bs-target="#inspection-form"
                            type="button" role="tab">
                            New Inspection WIB-PSV-V05A-4
                            <button type="button" class="btn-close-inspection"><i
                                    class="fa-solid fa-xmark"></i></button>
                        </a>
                    </li>
                </ul>
                <div class="tab-content inspection-tab" id="tabcontentcontainer">
                    <div class="tab-pane show active" role="tabpanel" id="welcome">
                        <div class="sub-container">
                            <h1>Welcome to Inspection</h1>
                            <p>To start adding inspection data, please choose valve asset in the tree view.</p>
                        </div>
                    </div>
                    <div class="tab-pane show active" role="tabpanel" id="template_inspection">
                        <form class="inspection-form printable">
                            <div class="box">
                                <div class="subheader m-0">
                                    <b>Asset Information</b>
                                </div>
                                <div class="sub-container">
                                    <div class="form-container">
                                        <div class="form-grid">
                                            <div class="form-group-inline">
                                                <label for="field-inspection-assetid">Asset ID</label>
                                                <input type="text" class="form-control" id="field-inspection-assetid"
                                                    readonly name="AssetID">
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="field-inspection-valvetype">Valve Type</label>
                                                <input type="text" class="form-control" id="field-inspection-valvetype"
                                                    readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="field-inspection-tagno">Tag No</label>
                                                <input type="text" class="form-control" id="field-inspection-tagno"
                                                    readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="field-inspection-manufacturer">Manufacturer</label>
                                                <input type="text" class="form-control"
                                                    id="field-inspection-manufacturer" readonly>
                                            </div>
                                            <div class="form-group-inline" style="display: none;">
                                                <label for="field-inspection-equipmentname">Equipment Name</label>
                                                <input type="text" class="form-control"
                                                    id="field-inspection-equipmentname" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="field-inspection-bodymaterial">Body Material</label>
                                                <input type="text" class="form-control"
                                                    id="field-inspection-bodymaterial" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="businessarea">Business Area</label>
                                                <input type="text" class="form-control" id="businessarea" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="bodymodel">Body Model</label>
                                                <input type="text" class="form-control" id="bodymodel" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="platform">Platform</label>
                                                <input type="text" class="form-control" id="platform" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="endconnection">End Connection</label>
                                                <input type="text" class="form-control" id="endconnection" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="parentequipmentno">Parent Equipment No.</label>
                                                <input type="text" class="form-control" id="parentequipmentno" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="serialno">Serial No.</label>
                                                <input type="text" class="form-control" id="serialno" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="parentequipmentdescription">Parent Equipment
                                                    Description</label>
                                                <input type="text" class="form-control" id="parentequipmentdescription"
                                                    readonly>
                                            </div>
                                            <div class="form-group-inline" style="display: none;">
                                                <label for="usagetype">Usage Type</label>
                                                <input type="text" class="form-control" id="usagetype" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="installationdate">Installation Date</label>
                                                <input type="text" class="form-control" id="installationdate" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="size">Size (inch)</label>
                                                <input type="text" class="form-control" id="size" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="pidno">PID No</label>
                                                <input type="text" class="form-control" id="pidno" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="classrating">Class Rating</label>
                                                <input type="text" class="form-control" id="classrating" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="subheader m-0">
                                    <b>Inspection Information</b>
                                </div>
                                <div class="sub-container">
                                    <div class="form-container">
                                        <div class="form-grid">
                                            <input type="hidden" name="Id" id="data-id">
                                            <div class="form-group ">
                                                <label for="field-inspection-valvetagno">Valve Tag No</label>
                                                <input type="text" class="form-control" id="field-inspection-valvetagno"
                                                    readonly>
                                            </div>
                                            <div class="form-group ">
                                                <label for="field-inspection-current-condition-limit-state-a">Current
                                                    Condition Leakage to Atmosphere</label>
                                                <select class="form-control"
                                                    id="field-inspection-current-condition-limit-state-a"
                                                    name="CurrentConditionLeakeageToAtmosphereID">
                                                    @if(limitState != null)
                                                    {
                                                        foreach (var item in limitState)
                                                        {
                                                            <option value="@item.Id">@item.CurrentConditionLimitState</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group ">
                                                <label for="field-inspection-date">Inspection Date</label>
                                                <input id="field-inspection-date" type="text"
                                                    class="form-control datepicker" name="InspectionDate" required />
                                            </div>
                                            <div class="form-group ">
                                                <label for="field-inspection-current-condition-limit-state-b">Current
                                                    Condition Failure of Function</label>
                                                <select class="form-control"
                                                    id="field-inspection-current-condition-limit-state-b"
                                                    name="CurrentConditionFailureOfFunctionID">
                                                    @if(limitState != null)
                                                    {
                                                        foreach (var item in limitState)
                                                        {
                                                            <option value="@item.Id">@item.CurrentConditionLimitState</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group ">
                                                <label for="field-inspection-inspection-method">Inspection
                                                    Method</label>
                                                <select class="form-control" id="field-inspection-inspection-method"
                                                    name="InspectionMethodID">
                                                    @if(inspectionMethods != null)
                                                    {
                                                        foreach (var item in inspectionMethods)
                                                        {
                                                            <option value="@item.Id">@item.InspectionMethod</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group ">
                                                <label for="field-inspection-current-condition-limit-state-c">Current
                                                    Condition Passing Across Valve</label>
                                                <select class="form-control"
                                                    id="field-inspection-current-condition-limit-state-c"
                                                    name="CurrentConditionPassingAcrossValveID">
                                                    @if(limitState != null)
                                                    {
                                                        foreach (var item in limitState)
                                                        {
                                                            <option value="@item.Id">@item.CurrentConditionLimitState</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group ">
                                                <label for="field-inspection-effectiveness">Inspection
                                                    Effectiveness</label>
                                                <select class="form-control" id="field-inspection-effectiveness"
                                                    name="InspectionEffectivenessID">
                                                    @if(inspectionEffectivenessStates != null)
                                                    {
                                                        foreach (var item in inspectionEffectivenessStates)
                                                        {
                                                            <option value="@item.Id">@item.Effectiveness</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group ">
                                                <label for="field-inspection-function-condition">Function
                                                    Condition</label>
                                                <input type="text" class="form-control"
                                                    id="field-inspection-function-condition" name="FunctionCondition"
                                                    required>
                                            </div>
                                            <div class="form-group">
                                                <label for="field-inspection-description">Inspection Description</label>
                                                <textarea class="form-control" id="field-inspection-description"
                                                    rows="12" name="InspectionDescription"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="form-group col-md-12 mb-2">
                                                        <label for="field-inspection-test-pressure-if-any">Test Pressure
                                                            if Any</label>
                                                        <input type="text" name="TestPressureIfAny" class="form-control"
                                                            id="field-inspection-test-pressure-if-any">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label for="field-inspection-image">Inspection Image</label>
                                                        <div class="gallery-input">
                                                            <input type="file" class="form-control image-gallery-upload"
                                                                id="field-inspection-image" multiple>
                                                            <div class="preview-image-gallery">
                                                                <label class="add-image" for="field-inspection-image"><i
                                                                        class="fa-solid fa-file-circle-plus"></i></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="non-printable">
                                        <div class="box-footer">
                                            <button type="button" class="btn submit-button" id="btn-submit"
                                                onclick="submitForm(this)">Save</button>
                                            <button type="button" class="btn print-button" id="btn-print"
                                                onclick="printForm(this)">Print</button>
                                            <button type="button" class="btn delete-button" id="btn-delete"
                                                onclick="deleteForm(this)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>

<input type="hidden" id="urlupdateinspection" value="@urlupdateinspection">
<input type="hidden" id="urladdinspection" value="@urladdinspection">
<input type="hidden" id="urldeleteinspection" value="@urldeleteinspection">
<input type="hidden" id="urlgetassetdetail" value="@urlgetassetdetail">
<input type="hidden" id="urlgetinspectiondetail" value="@urlgetinspectiondetail">
<input type="hidden" id="urlinspectionprint" value="@urlinspectionprint">

@section Scripts {
    <script src="~/js/imr/inspection.js"></script>
}
