@{
    ViewData["Title"] = "Area";
    var areaList = ViewData["areaList"] as List<AreaModel>;
    var urlgetareadetail = Url.Action("GetAreaDetail", "AssetRegister");
    var urladdarea = Url.Action("AddArea", "AssetRegister");
    var urlupdatearea = Url.Action("UpdateArea", "AssetRegister");
    var urldeletearea = Url.Action("DeleteArea", "AssetRegister");
}

<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <partial name="Sidebar" />
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 subheader-negative-margin">
            <div class="subheader">
                <b>Area</b>
            </div>
            <div class="table-container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <button onclick="editAction.apply(this)" type="button" class="btn btn-primary custom btn-area-action btn-with-icon" attr-mode="create">
                        <i class="fa-solid fa-plus"></i> Add New
                    </button>
                    <div class="">
                        <div class="input-group input-group-sm input-search">
                            <span class="input-group-text" id="basic-addon1">
                            <i class="bi bi-search"></i>
                            </span>
                            <input type="text" class="form-control form-control-sm" placeholder="Search" oninput="dataTableSearch(this.value)">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered datatable" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Business Area</th>
                            <th>Created By</th>
                            <th>Created At</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int ctr = 0;
                            if (areaList != null)
                            {
                                foreach (var item in areaList)
                                {
                                    ctr++;
                                    <tr style="margin: 0;padding;0;">
                                        <td>@ctr</td>
                                        <td>@item.BusinessArea</td>
                                        <td>@item.CreatedByUser</td>
                                        <td>@item.CreatedAt</td>
                                        <td>
                                            <button onclick="editAction.apply(this)" class="btn btn-custom-size btn-primary invert btn-with-icon btn-area-action" attr-mode="view"
                                                attr-itemid="@item.Id"><i class="fa-solid fa-pencil"></i>Edit</button>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                </table>
            </div>
        </main>
    </div>
</div>

<div class="modal fade" id="addAreaModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <input id="field-business-area-mode" type="hidden">
                <input id="field-business-area-id" name="businessareaid" type="hidden">
                <div class="modal-header">
                    <h4 class="modal-title">Add/Edit New Area</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="field-business-area-name">Business Area Name</label>
                        <input id="field-business-area-name" name="businessareaname" class="form-control"
                            placeholder="Business Area Name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-area-modal-delete" class="pull-left btn btn-danger">Delete</button>
                    <button type="button" id="btn-area-modal-save" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function editAction () {
            $('#field-business-area-name').val('');
            var mode = $(this).attr('attr-mode');
            if (mode == 'create') {
                $('#field-business-area-mode').val('create');
                $('#btn-area-modal-delete').hide();
                $('#addAreaModal').modal('show');
            } else if (mode == 'view') {
                var id = $(this).attr('attr-itemid');
                $.ajax({
                    url: '@urlgetareadetail',
                    type: 'GET',
                    data: { id: id },
                    success: function (data) {
                        $('#field-business-area-mode').val('update');
                        $('#field-business-area-id').val(data.id);
                        $('#field-business-area-name').val(data.businessArea);
                        $('#btn-area-modal-delete').show();
                        $('#addAreaModal').modal('show');
                    }
                });
            }
        }

        $(document).ready(function () {            
            $('#btn-area-modal-save').click(function () {
                var mode = $('#field-business-area-mode').val();
                var name = $('#field-business-area-name').val();
                if (name == '') {
                    alert('Business Area Name is required');
                    return;
                } else {
                    if (mode == 'create') {
                        $.ajax({
                            url: '@urladdarea',
                            type: 'POST',
                            data: { businessArea: name },
                            success: function (data) {
                                location.reload();
                            }
                        });
                    } else if (mode == 'update') {
                        var id = $('#field-business-area-id').val();
                        $.ajax({
                            url: '@urlupdatearea',
                            type: 'POST',
                            data: { id: id, businessArea: name },
                            success: function (data) {
                                location.reload();
                            }
                        });
                    }
                }
            });
            $('#btn-area-modal-delete').click(function () {
                var id = $('#field-business-area-id').val();
                $.ajax({
                    url: '@urldeletearea',
                    type: 'POST',
                    data: { id: id },
                    success: function (data) {
                        location.reload();
                    }
                });
            });

            initDatatable()
        });
    </script>
}