@{
    ViewData["Title"] = "Asset";
    var assetList = ViewData["assetList"] as List<AssetModel>;
    var platformList = ViewData["platformList"] as List<PlatformModel>;
    var valveTypeList = ViewData["valveTypeList"] as List<ValveTypeModel>;
    var manualOverrideList = ViewData["manualOverrideList"] as List<ManualOverrideModel>;
    var fluidPhaseList = ViewData["FluidPhaseList"] as List<FluidPhaseModel>;
    var toxicOrFlamableFluidList = ViewData["ToxicOrFlamableFluidList"] as List<ToxicOrFlamableFluidModel>;
}

<div class="row">
    <div class="col-xs-2" style="padding-right:0;">
        <partial name="Sidebar" />
    </div>
    <div class="col-xs-10" style="padding-right: 50px">
        <h3>Asset</h3>
        <button type="button" class="btn btn-primary btn-asset-action" attr-mode="create">
            Add New
        </button>
        <br /><br />
        <table class="table table-bordered datatable" style="width: 100%;">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Tag No</th>
                    <th>Business Area</th>
                    <th>Platform</th>
                    <th>Valve Type</th>
                    <th>Size (inch)</th>
                    <th>Rating</th>
                    <th>PID Number</th>
                    <th>Parent Equipment No</th>
                    <th>Parent Equipment Description</th>
                    <th>Service Fluid</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int ctr = 0;
                    if (assetList != null)
                    {
                        foreach (var item in assetList)
                        {
                            ctr++;
                            <tr style="margin: 0;padding;0;">
                                <td>@ctr</td>
                                <td>@item.TagNo</td>
                                <td>@item.BusinessArea</td>
                                <td>@item.Platform</td>
                                <td>@item.ValveType</td>
                                <td>@item.Size</td>
                                <td>@item.ClassRating</td>
                                <td>@item.PIDNo</td>
                                <td>@item.ParentEquipmentNo</td>
                                <td>@item.ParentEquipmentDescription</td>
                                <td>@item.ServiceFluid</td>
                                <td>
                                    <button class="btn btn-primary btn-asset-action" attr-mode="view"
                                        attr-itemid="@item.Id">Detail</button>
                                </td>
                            </tr>
                        }
                    }
                }
        </table>
    </div>
</div>

<partial name="ModalAsset" />

@section Scripts {
    <script>
    </script>
}