@{
    ViewData["Title"] = "Asset";
    var assetList = ViewData["assetList"] as List<AssetModel>;
    var platformList = ViewData["platformList"] as List<PlatformModel>;
    var valveTypeList = ViewData["valveTypeList"] as List<ValveTypeModel>;
    var manualOverrideList = ViewData["manualOverrideList"] as List<ManualOverrideModel>;
    var fluidPhaseList = ViewData["FluidPhaseList"] as List<FluidPhaseModel>;
    var toxicOrFlamableFluidList = ViewData["ToxicOrFlamableFluidList"] as List<ToxicOrFlamableFluidModel>;
}

<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <partial name="Sidebar" />
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 subheader-negative-margin">
            <div class="subheader">
                <b>Asset</b>
            </div>
            <div class="table-container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <button onclick="editAction.apply(this)" type="button" class="btn btn-primary custom btn-asset-action btn-with-icon" attr-mode="create">
                        <i class="fa-solid fa-plus"></i> Add New
                    </button>
                    <div class="">
                        <div class="input-group input-group-sm input-search">
                            <span class="input-group-text" id="basic-addon1">
                            <i class="bi bi-search"></i>
                            </span>
                            <input type="text" class="form-control form-control-sm" placeholder="Search" oninput="dataTableSearch(this.value)">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered datatable" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Tag No</th>
                            <th>Business Area</th>
                            <th>Platform</th>
                            <th>Valve Type</th>
                            <th>Size (inch)</th>
                            <th>Rating</th>
                            <th>PID Number</th>
                            <th>Parent Equipment No</th>
                            <th>Parent Equipment Description</th>
                            <th>Service Fluid</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int ctr = 0;
                            if (assetList != null)
                            {
                                foreach (var item in assetList)
                                {
                                    ctr++;
                                    <tr style="margin: 0;padding;0;">
                                        <td>@ctr</td>
                                        <td>@item.TagNo</td>
                                        <td>@item.BusinessArea</td>
                                        <td>@item.Platform</td>
                                        <td>@item.ValveType</td>
                                        <td>@item.Size</td>
                                        <td>@item.ClassRating</td>
                                        <td>@item.PIDNo</td>
                                        <td>@item.ParentEquipmentNo</td>
                                        <td>@item.ParentEquipmentDescription</td>
                                        <td>@item.ServiceFluid</td>
                                        <td>
                                            <button onclick="editAction.apply(this)" class="btn btn-custom-size btn-primary invert btn-with-icon btn-asset-action" attr-mode="view"
                                                attr-itemid="@item.Id"><i class="fa-solid fa-pencil"></i>Edit</button>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                </table>
            </div>
        </div>
    </div>
</div>


<partial name="ModalAsset" />

@section Scripts {
    <script>
        initDatatable({
            ordering: true,
        })
    </script>
}