@using SharedLayer
@{
    ViewData["Title"] = "Platform";
    var platformList = ViewData["PlatformList"] as List<PlatformData>;
    var areaList = ViewData["AreaList"] as List<AreaData>;
    var urlgetplatformdetail = Url.Action("GetPlatformDetail", "AssetRegister");
    var urladdplatform = Url.Action("AddPlatform", "AssetRegister");
    var urlupdateplatform = Url.Action("UpdatePlatform", "AssetRegister");
    var urldeleteplatform = Url.Action("DeletePlatform", "AssetRegister");
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var tokens = Xsrf.GetAndStoreTokens(Context);
}

<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <partial name="Sidebar" />
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 subheader-negative-margin">
            <div class="subheader">
                <b>Platform</b>
            </div>
            <div class="table-container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <button onclick="editAction.apply(this)" type="button" class="btn btn-primary custom btn-platform-action btn-with-icon" attr-mode="create">
                        <i class="fa-solid fa-plus"></i> Add New
                    </button>
                    <div class="">
                        <div class="input-group input-group-sm input-search">
                            <span class="input-group-text" id="basic-addon1">
                            <i class="bi bi-search"></i>
                            </span>
                            <input type="text" class="form-control form-control-sm" placeholder="Search" oninput="dataTableSearch(this.value)">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered datatable" style="width: 100%;">
                    <thead>
                        <tr>
                            <th class="col-md-1">No</th>
                            <th class="col-md-2">Business Area</th>
                            <th>Platform</th>
                            <th>Code</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int ctr = 0;
                            if (platformList != null)
                            {
                                foreach (var item in platformList)
                                {
                                    ctr++;
                                    <tr style="margin: 0;padding;0;">
                                        <td>@ctr</td>
                                        <td>@item.BusinessArea</td>
                                        <td>@item.Platform</td>
                                        <td>@item.Code</td>
                                        <td>
                                            <button onclick="editAction.apply(this)" class="btn btn-custom-size btn-primary invert btn-with-icon btn-platform-action" attr-mode="view"
                                                attr-itemid="@item.Id"><i class="fa-solid fa-pencil"></i> Edit</button>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-xl" id="addPlatformModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="platform-form" class="common-form">
                <input id="field-platform-mode" type="hidden">
                <input id="field-platform-id" name="platformid" type="hidden">
                <div class="box">
                    <div class="subheader m-0">
                        <b>Add/Edit New Platform</b>
                    </div>
                    <div class="sub-container">
                        <div class="form-container">
                            <div class="form-grid">
                                <div class="form-group-inline">
                                    <label for="field-plarfoem-area">Business Area</label>
                                    <select id="field-platform-area" name="businessarea" class="form-control" required>
                                        <option value="">Select Business Area</option>
                                        @{
                                            if (areaList != null)
                                            {
                                                foreach (var item in areaList)
                                                {
                                                    <option value="@item.Id">@item.BusinessArea</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-platform-name">Platform Name</label>
                                    <input id="field-platform-name" name="platformname" class="form-control"
                                        placeholder="Platform Name" required>
                                </div>
                                <div class="form-group-inline">
                                    <label for="field-platform-code">Platform Code</label>
                                    <input id="field-platform-code" name="platformcode" class="form-control"
                                        placeholder="Platform Code" required>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" id="btn-platform-modal-save" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-primary btn btn-secondary cancel-button" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" id="btn-platform-modal-delete" class="pull-left btn btn-danger delete-button">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" id="urldeleteplatform" value="@urldeleteplatform">
<input type="hidden" id="urlupdateplatform" value="@urlupdateplatform">
<input type="hidden" id="urladdplatform" value="@urladdplatform">
<input type="hidden" id="urlgetplatformdetail" value="@urlgetplatformdetail">

@section Scripts {
    <script src="~/js/asset/platform.js"></script>
}