@{
    ViewData["Title"] = "Platform";
    var platformList = ViewData["PlatformList"] as List<PlatformModel>;
    var areaList = ViewData["AreaList"] as List<AreaModel>;
}

<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <partial name="Sidebar" />
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 subheader-negative-margin">
            <div class="subheader">
                <b>Platform</b>
            </div>
            <div class="table-container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <button type="button" class="btn btn-primary custom btn-platform-action btn-with-icon" attr-mode="create">
                        <i class="fa-solid fa-plus"></i> Add New
                    </button>
                    <div class="">
                        <div class="input-group input-group-sm input-search">
                            <span class="input-group-text" id="basic-addon1">
                            <i class="bi bi-search"></i>
                            </span>
                            <input type="text" class="form-control form-control-sm" placeholder="Search" oninput="dataTableSearch(this.value)">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered datatable" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Business Area</th>
                            <th>Platform</th>
                            <th>Code</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int ctr = 0;
                            if (platformList != null)
                            {
                                foreach (var item in platformList)
                                {
                                    ctr++;
                                    <tr style="margin: 0;padding;0;">
                                        <td>@ctr</td>
                                        <td>@item.BusinessArea</td>
                                        <td>@item.Platform</td>
                                        <td>@item.Code</td>
                                        <td>
                                            <button onclick="editAction.apply(this)" class="btn btn-custom-size btn-primary invert btn-with-icon btn-platform-action" attr-mode="view"
                                                attr-itemid="@item.Id"><i class="fa-solid fa-pencil"></i> Edit</button>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPlatformModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <input id="field-platform-mode" type="hidden">
                <input id="field-platform-id" name="platformid" type="hidden">
                <div class="modal-header">
                    <h4 class="modal-title">Add/Edit New Platform</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="field-plarfoem-area">Business Area</label>
                        <select id="field-platform-area" name="businessarea" class="form-control" required>
                            <option value="">Select Business Area</option>
                            @foreach (var item in areaList)
                            {
                                <option value="@item.Id">@item.BusinessArea</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="field-platform-name">Platform Name</label>
                        <input id="field-platform-name" name="platformname" class="form-control"
                            placeholder="Platform Name" required>
                    </div>
                    <div class="form-group">
                        <label for="field-platform-code">Platform Code</label>
                        <input id="field-platform-code" name="platformcode" class="form-control"
                            placeholder="Platform Code" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-platform-modal-delete"
                        class="pull-left btn btn-danger">Delete</button>
                    <button type="button" id="btn-platform-modal-save" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-primary "data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function editAction () {
            $('#field-platform-area').val('');
            $('#field-platform-name').val('');
            $('#field-platform-code').val('');
            var mode = $(this).attr('attr-mode');
            if (mode == 'create') {
                $('#field-platform-mode').val('create');
                $('#btn-platform-modal-delete').hide();
                $('#addPlatformModal').modal('show');
            } else if (mode == 'view') {
                var id = $(this).attr('attr-itemid');
                $.ajax({
                    url: '/AssetRegister/GetPlatformDetail',
                    type: 'GET',
                    data: { id: id },
                    success: function (data) {
                        $('#field-platform-mode').val('update');
                        $('#field-platform-id').val(data.id);
                        $('#field-platform-area').val(data.areaID);
                        $('#field-platform-name').val(data.platform);
                        $('#field-platform-code').val(data.code);
                        $('#btn-platform-modal-delete').show();
                        $('#addPlatformModal').modal('show');
                    }
                });
            }
        }

        $(document).ready(function () {
            $('#btn-platform-modal-save').click(function () {
                var mode = $('#field-platform-mode').val();
                if (mode == 'create') {
                    $.ajax({
                        url: '/AssetRegister/AddPlatform',
                        type: 'POST',
                        data: {
                            areaID: $('#field-platform-area').val(),
                            platform: $('#field-platform-name').val(),
                            code: $('#field-platform-code').val()
                        },
                        success: function (data) {
                            location.reload();
                        }
                    });
                } else if (mode == 'update') {
                    var id = $('#field-platform-id').val();
                    $.ajax({
                        url: '/AssetRegister/UpdatePlatform',
                        type: 'POST',
                        data: {
                            id: id,
                            areaID: $('#field-platform-area').val(),
                            platform: $('#field-platform-name').val(),
                            code: $('#field-platform-code').val()
                        },
                        success: function (data) {
                            location.reload();
                        }
                    });
                }
            });
            $('#btn-platform-modal-delete').click(function () {
                var id = $('#field-platform-id').val();
                $.ajax({
                    url: '/AssetRegister/DeletePlatform',
                    type: 'POST',
                    data: { id: id },
                    success: function (data) {
                        location.reload();
                    }
                });
            });

            initDatatable()
        });
    </script>
}