@using SharedLayer;
@{
    ViewData["Title"] = "Print Assessment";
    var assessment = ViewData["Assessment"] as AssessmentData;
    var jsonassessment = Newtonsoft.Json.JsonConvert.SerializeObject(assessment);
    var assessmentHeatMap = ViewData["AssessmentHeatMap"] as Dictionary<string, Dictionary<string,string>>;
    var jsonassessmentHeatMap = Newtonsoft.Json.JsonConvert.SerializeObject(assessmentHeatMap);
}
<div class="container-fluid">
    <div id="print-area">
        <table class="assessment-print" id="assessment-print-table">
            <tr>
                <td colspan="10" class="heading" style="width: 100%; background-color: #1f487c !important;">Valve Passport</td>
                <td colspan="2" rowspan="4" class="no-padding text-center">
                    <img class="logo" src="~/lib/images/logo-square.jpg">
                </td>
            </tr>
            <tr>
                <td colspan="3" style="width: 30%;">Valve Tag Number :</td>
                <td colspan="3" style="width: 25%;">
                @{
                    if(assessment.Asset.TagNo != null){
                        @assessment.Asset.TagNo
                    }
                }
                </td>
                </td>
                <td colspan="2" style="width: 20%;">Assessment Date :</td>
                <td colspan="2" style="width: 20%;">@assessment.AssessmentDate</td>
            </tr>
            <tr>
                <td colspan="3">Business Area :</td>
                <td colspan="3">@assessment.Asset.BusinessArea</td>
                <td colspan="2">Assessment UID :</td>
                <td colspan="2">@assessment.AssessmentNo</td>
            </tr>
            <tr>
                <td colspan="3">Platofrm :</td>
                <td colspan="3">@assessment.Asset.Platform</td>
                <td colspan="2">Valve Type :</td>
                <td colspan="2">@assessment.Asset.ValveType</td>
            </tr>
            <!-- Second section -->
            <tr>
                <td colspan="12" class="table-section" style="width: 100%; background-color: #1f487c !important; color: white !important; text-align: center;">Integrity Status and Plan</td>
            </tr>
            <tr>
                <td colspan="3" style="width: 30%;">Priority :</td>
                <td colspan="3" style="width: 25%;">@assessment.IntegrityStatus</td>
                <td colspan="6" rowspan="9" style="width: 20%;">
                    <div class="risk-chart">
                        <img class="risk-matrix-legend" src="~/lib/images/risk-matrix-legend2.png">
                        <div class="print-risk-table">
                            <div class="risk-dots">
                                <div class="dot-tp1 dot" style="bottom: @assessmentHeatMap["TP1"]["xpos"]%; left: @assessmentHeatMap["TP1"]["ypos"]%;"></div>
                                <div class="dot-tp2 dot" style="bottom: @assessmentHeatMap["TP2"]["xpos"]%; left: @assessmentHeatMap["TP2"]["ypos"]%;"></div>
                                <div class="dot-tp3 dot" style="bottom: @assessmentHeatMap["TP3"]["xpos"]%; left: @assessmentHeatMap["TP3"]["ypos"]%;"></div>
                            </div>
                            <img src="~/lib/images/risk-matrix.png">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="width: 30%;">Current Status :</td>
                <td colspan="3" style="width: 25%;"></td>
            </tr>
            <tr>
                <td colspan="3" class="table-section no-transform">Risk</td>
                <td width="60px" class="table-section no-transform">TP1</td>
                <td width="60px" class="table-section no-transform">TP2</td>
                <td width="60px" class="table-section no-transform">TP3</td>
            </tr>   
            <tr>
                <td colspan="3">Time From Datum (Months) :</td>
                <td class="text-center">@assessment.TPTimeToActionA</td>
                <td class="text-center">@assessment.TPTimeToActionB</td>
                <td class="text-center">@assessment.TPTimeToActionC</td>
            </tr>
            <tr>
                <td colspan="3">Risk for Most Severe Limit State :</td>
                <td class="text-center" style="background-color: @assessmentHeatMap["TP1"]["color"];">@assessmentHeatMap["TP1"]["value"]</td>
                <td class="text-center" style="background-color: @assessmentHeatMap["TP2"]["color"];">@assessmentHeatMap["TP2"]["value"]</td>
                <td class="text-center" style="background-color: @assessmentHeatMap["TP3"]["color"];">@assessmentHeatMap["TP3"]["value"]</td>
            </tr>
            <tr>
                <td colspan="6" class="table-section">Integrity Action, Recommendation and Date</td>
            </tr>
            <tr>
                <td colspan="3">Date for Integrity Recommendation :</td>
                <td colspan="3">@assessment.TPTimeToActionRisk</td>
            </tr>
            <tr>
                <td colspan="6" rowspan="2" style="text-align: center;">@assessment.RecommendationAction</td>
            </tr>
            <!-- Third section -->
            <tr>
            </tr>
            <tr>
                <td colspan="12" class="table-section" style="width: 100%; background-color: #1f487c !important; color: white !important; text-align: center;">Maintenance History</td>
            </tr>
            @if(assessment.MaintenanceHistory.Count > 0){
                for(int i = 0; i < assessment.MaintenanceHistory.Count; i++)
                {
                    <tr>
                        <td class="table-section">Maintenance Date</td>
                        <td class="table-section">Is Valve repaired?</td>
                        <td colspan="10" class="table-section">Maintenance Description</td>
                    </tr>
                    <tr>
                        <td>@assessment.MaintenanceHistory[i].Maintenance.MaintenanceDate</td>
                        <td>@assessment.MaintenanceHistory[i].Maintenance.IsValveRepaired</td>
                        <td colspan="10">@assessment.MaintenanceHistory[i].Maintenance.MaintenanceDescription</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="table-section">Maintenance Image</td>
                    </tr>
                    <tr style="border: 1px solid black; border-collapse: collapse;">
                        @{
                            int ctr_maintenance_img = 0;
                        }
                        @foreach (var image in assessment.MaintenanceHistory[i].Maintenance.MaintenanceFiles) {
                            <td colspan="2" style="border: none;">
                                <img src="/@image.FilePath"/>
                            </td>
                            ctr_maintenance_img+=1;
                            if(ctr_maintenance_img >=6){
                                ctr_maintenance_img = 0;
                                @:</tr><tr style="border: 1px solid black; border-collapse: collapse;">
                            }
                        }
                    </tr>
                }
            }
            <!-- Forth section -->
            <tr>
            </tr>
            <tr>
                <td colspan="12" class="table-section" style="width: 100%; background-color: #1f487c !important; color: white !important; text-align: center;">Inspection History</td>
            </tr>
            @if(assessment.InspectionHistory.Count > 0){
                for(int i = 0; i < assessment.InspectionHistory.Count; i++)
                {
                    <tr>
                        <td class="table-section">Inspection Date</td>
                        <td class="table-section">Inspection Method</td>
                        <td colspan="3" class="table-section">Inspection Description</td>
                        <td class="table-section">Test Pressure</td>
                        <td colspan="6" class="table-section">Function Condition</td>
                    </tr>
                    <tr>
                        <td>@assessment.InspectionHistory[i].Inspection.InspectionDate</td>
                        <td>@assessment.InspectionHistory[i].Inspection.InspectionMethod</td>
                        <td colspan="3">@assessment.InspectionHistory[i].Inspection.InspectionDescription</td>
                        <td>@assessment.InspectionHistory[i].Inspection.FunctionCondition</td>
                        <td colspan="6">@assessment.InspectionHistory[i].Inspection.TestPressureIfAny</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="table-section">Inspection Image</td>
                    </tr>
                    <tr style="border: 1px solid black; border-collapse: collapse;">
                        @{
                            int ctr_inspection_img = 0;
                        }
                        @foreach (var image in assessment.InspectionHistory[i].Inspection.InspectionFiles) {
                            <td colspan="2" style="border: none;">
                                <img src="/@image.FilePath"/>
                            </td>
                            ctr_inspection_img+=1;
                            if(ctr_inspection_img >=6){
                                ctr_inspection_img = 0;
                                @:</tr><tr style="border: 1px solid black; border-collapse: collapse;">
                            }
                        }
                    </tr>
                }
            }
            <!-- Fifth section -->
            <tr>
            </tr>
            <tr>
                <td colspan="12" class="table-section" style="width: 100%; background-color: #1f487c !important; color: white !important; text-align: center;">Valve Data</td>
            </tr>
            <tr>
                <td colspan="12" class="table-section">Valve Information</td>
            </tr>
            <tr>
                <td colspan="4">Equipment Name :</td>
                <td colspan="8">@assessment.Asset.AssetName</td>
            </tr>
            <tr>
                <td colspan="4">P&ID Number :</td>
                <td colspan="8">@assessment.Asset.PIDNo</td>
            </tr>
            <tr>
                <td colspan="4">Parent Equipment No. :</td>
                <td colspan="8">@assessment.Asset.ParentEquipmentNo</td>
            </tr>
            <tr>
                <td colspan="4">Parent Equipment Description :</td>
                <td colspan="8">@assessment.Asset.ParentEquipmentDescription</td>
            </tr>
            <tr>
                <td colspan="4">Size (inch) :</td>
                <td colspan="8">@assessment.Asset.Size</td>
            </tr>
            <tr>
                <td colspan="4">Class Rating :</td>
                <td colspan="8">@assessment.Asset.ClassRating</td>
            </tr>
            <tr>
                <td colspan="4">Instalallation Date :</td>
                <td colspan="8">@assessment.Asset.InstallationDate</td>
            </tr>
            <tr>
                <td colspan="4">Manufacturer :</td>
                <td colspan="8">@assessment.Asset.Manufacturer</td>
            </tr>
            <tr>
                <td colspan="4">Body Material :</td>
                <td colspan="8">@assessment.Asset.BodyMaterial</td>
            </tr>
            <tr>
                <td colspan="4">Body Model :</td>
                <td colspan="8">@assessment.Asset.BodyModel</td>
            </tr>
            <tr>
                <td colspan="4">End Connection :</td>
                <td colspan="8">@assessment.Asset.EndConnection</td>
            </tr>
            <tr>
                <td colspan="4">Serial Number :</td>
                <td colspan="8">@assessment.Asset.SerialNo</td>
            </tr>
            <tr>
                <td colspan="4">Usage Type :</td>
                <td colspan="8">@assessment.Asset.UsageType</td>
            </tr>
            <tr>
                <td colspan="4">Actuation :</td>
                <td colspan="8">@assessment.Asset.Actuation</td>
            </tr>
            <tr>
                <td colspan="4">Actuator Manufacturer :</td>
                <td colspan="8">@assessment.Asset.ActuatorMfg</td>
            </tr>
            <tr>
                <td colspan="4">Actuator Serial Number :</td>
                <td colspan="8">@assessment.Asset.ActuatorSerialNo</td>
            </tr>
            <tr>
                <td colspan="4">Actuator Type/Model :</td>
                <td colspan="8">@assessment.Asset.ActuatorTypeModel</td>
            </tr>
            <tr>
                <td colspan="4">Actuator Power :</td>
                <td colspan="8">@assessment.Asset.ActuatorPower</td>
            </tr>
            <tr>
                <td colspan="4">Manual Override :</td>
                <td colspan="8">@assessment.Asset.ManualOverride</td>
            </tr>
            <tr>
                <td colspan="4">Approx. cost of replacement and repair (USD) :</td>
                <td colspan="8">@assessment.Asset.CostOfReplacementAndRepair</td>
            </tr>
            <tr>
                <td colspan="12" class="table-section">Process Information</td>
            </tr>
            <tr>
                <td colspan="4">Operating Pressure (Psig) :</td>
                <td colspan="8">@assessment.Asset.OperatingPressure</td>
            </tr>
            <tr>
                <td colspan="4">Operating Temperature (F) :</td>
                <td colspan="8">@assessment.Asset.OperatingTemperature</td>
            </tr>
            <tr>
                <td colspan="4">Service Fluid :</td>
                <td colspan="8">@assessment.Asset.ServiceFluid</td>
            </tr>
            <tr>
                <td colspan="4">Fluid Phase :</td>
                <td colspan="8">@assessment.Asset.FluidPhase</td>
            </tr>
            <tr>
                <td colspan="4">Flow Rate (m3/hr) :</td>
                <td colspan="8">@assessment.Asset.FlowRate</td>
            </tr>
            <tr>
                <td colspan="4">Toxic or Flammable Fluid :</td>
                <td colspan="8">@assessment.Asset.ToxicOrFlamableFluid</td>
            </tr>
            <!-- Sixth section -->
            <tr>
            </tr>
            <tr>
                <td colspan="12" class="table-section" style="width: 100%; background-color: #1f487c !important; color: white !important; text-align: center;">Approvals</td>
            </tr>
            <tr>
                <td colspan="4" class="table-section sub-section">Author</td>
                <td colspan="4" class="table-section sub-section">Reviewer</td>
                <td colspan="4" class="table-section sub-section">Approvals</td>
            </tr>
            <tr>
                <td colspan="4"><br/><br/><br/><br/><br/></td>
                <td colspan="4"><br/><br/><br/><br/><br/></td>
                <td colspan="4"><br/><br/><br/><br/><br/></td>
            </tr>
            <tr>
                <td colspan="4">Name :</td>
                <td colspan="4">Name :</td>
                <td colspan="4">Name :</td>
            </tr>
            <tr>
                <td colspan="4">Date :</td>
                <td colspan="4">Date :</td>
                <td colspan="4">Date :</td>
            </tr>
        </table>
    </div>
</div>
@section Scripts {
    <script src='~/js/printpage.js'></script>
    <link rel="stylesheet" href="~/css/assessment/print.css" asp-append-version="true" />
}