@using SharedLayer
@{
    ViewData["Title"] = "Maintenance";
    var limitState = ViewData["CurrentConditionLimitStateData"] as List<CurrentConditionLimitStateData>;
    var inspectionEffectivenessStates = ViewData["InspectionEffectivenessData"] as List<InspectionEffectivenessData>;
    var inspectionMethods = ViewData["InspectionMethodData"] as List<InspectionMethodData>;
    var isValveRepairedStates = ViewData["IsValveRepairedData"] as List<IsValveRepairedData>;
    var baseurl = Url.Action("", "");
    var urlupdatemainenance = Url.Action("UpdateMaintenance", "Maintenance");
    var urladdmainenance = Url.Action("AddMaintenance", "Maintenance");
    var urldeletemainenance = Url.Action("DeleteMaintenance", "Maintenance");
    var urlgetassetdetail = Url.Action("GetAssetDetail", "AssetRegister");
    var urlgetmaintenancedetail = Url.Action("GetMaintenanceDetail", "Maintenance");
    var urlmaintenanceprint = Url.Action("PrintMaintenance", "Maintenance");
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var tokens = Xsrf.GetAndStoreTokens(Context);
}

<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <partial name="InspectionAssessmentSidebar" />
        </div>
        @* <main class="col-md-9 ms-sm-auto col-lg-10 p-0 subheader-negative-margin with-bg-image"
        style="background-image:url('@baseurl/lib/images/u45.png')"> *@
        <main class="col-md-9 ms-sm-auto col-lg-10 p-0 subheader-negative-margin with-bg-image">
            <div>
                <ul class="nav nav-tabs nav-tab-menus" id="inspectiontabheader" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#welcome" data-bs-toggle="tab" data-bs-target="#welcome"
                            type="button" role="tab">
                            Welcome
                        </a>
                    </li>
                    <li class="nav-item" id="template_inspection_header">
                        <a class="nav-link" href="#inspection1" data-bs-toggle="tab" data-bs-target="#inspection-form"
                            type="button" role="tab">
                            New Maintenance
                            <button type="button" class="btn-close-inspection"><i
                                    class="fa-solid fa-xmark"></i></button>
                        </a>
                    </li>
                </ul>
                <div class="tab-content inspection-tab" id="tabcontentcontainer">
                    <div class="tab-pane show active" role="tabpanel" id="welcome">
                        <div class="sub-container">
                            <h1>Welcome to Maintenance</h1>
                            <p>To start adding maintenance data, please choose valve asset in the tree view.</p>
                        </div>
                    </div>
                    <div class="tab-pane show active" role="tabpanel" id="template_inspection">
                        <form class="inspection-form">
                            <div class="box">
                                <div class="subheader m-0">
                                    <b>Asset Information</b>
                                </div>
                                <div class="sub-container">
                                    <div class="form-container">
                                        <div class="form-grid">
                                            <div class="form-group-inline">
                                                <label for="field-inspection-assetid">Asset ID</label>
                                                <input type="text" class="form-control" id="field-inspection-assetid"
                                                    name="AssetID" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="field-inspection-valvetype">Valve Type</label>
                                                <input type="text" class="form-control" id="field-inspection-valvetype"
                                                    readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="field-inspection-tagno">Tag No</label>
                                                <input type="text" class="form-control" id="field-inspection-tagno"
                                                    readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="field-inspection-manufacturer">Manufacturer</label>
                                                <input type="text" class="form-control"
                                                    id="field-inspection-manufacturer" readonly>
                                            </div>
                                            <div class="form-group-inline" style="display: none;">
                                                <label for="field-inspection-equipmentname">Equipment Name</label>
                                                <input type="text" class="form-control"
                                                    id="field-inspection-equipmentname" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="field-inspection-bodymaterial">Body Material</label>
                                                <input type="text" class="form-control"
                                                    id="field-inspection-bodymaterial" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="businessarea">Business Area</label>
                                                <input type="text" class="form-control" id="businessarea" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="bodymodel">Body Model</label>
                                                <input type="text" class="form-control" id="bodymodel" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="platform">Platform</label>
                                                <input type="text" class="form-control" id="platform" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="endconnection">End Connection</label>
                                                <input type="text" class="form-control" id="endconnection" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="parentequipmentno">Parent Equipment No.</label>
                                                <input type="text" class="form-control" id="parentequipmentno" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="serialno">Serial No.</label>
                                                <input type="text" class="form-control" id="serialno" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="parentequipmentdescription">Parent Equipment
                                                    Description</label>
                                                <input type="text" class="form-control" id="parentequipmentdescription"
                                                    readonly>
                                            </div>
                                            <div class="form-group-inline" style="display: none;">
                                                <label for="usagetype">Usage Type</label>
                                                <input type="text" class="form-control" id="usagetype" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="installationdate">Installation Date</label>
                                                <input type="text" class="form-control" id="installationdate" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="size">Size (inch)</label>
                                                <input type="text" class="form-control" id="size" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="pidno">PID No</label>
                                                <input type="text" class="form-control" id="pidno" readonly>
                                            </div>
                                            <div class="form-group-inline">
                                                <label for="classrating">Class Rating</label>
                                                <input type="text" class="form-control" id="classrating" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="subheader m-0">
                                    <b>Maintenance Information</b>
                                </div>
                                <div class="sub-container">
                                    <div class="form-container">
                                        <div class="form-grid">
                                            <input type="hidden" name="Id" id="data-id">
                                            <div class="form-group ">
                                                <label for="field-maintenance-date">Maintenance Date</label>
                                                <input id="field-maintenance-date" type="text"
                                                    class="form-control datepicker" name="MaintenanceDate" required />
                                            </div>
                                            <div class="form-group ">
                                                <label for="field-maintenance-repaired">Is Valve Repaired</label>
                                                <select class="form-control" id="field-maintenance-repaired"
                                                    name="IsValveRepairedID">
                                                    <option value="1">Yes</option>
                                                    <option value="2">No</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="field-maintenance-description">Maintenance
                                                    Description</label>
                                                <textarea class="form-control" id="field-maintenance-description"
                                                    rows="8" name="MaintenanceDescription"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="field-maintenance-image">Maintenance Image</label>
                                                <div class="gallery-input">
                                                    <input type="file" class="form-control image-gallery-upload"
                                                        id="field-maintenance-image" multiple>
                                                    <div class="preview-image-gallery">
                                                        <label class="add-image" for="field-maintenance-image"><i
                                                                class="fa-solid fa-file-circle-plus"></i></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="box-footer">
                                            <button type="button" class="btn submit-button form-submit" id="btn-submit"
                                                onclick="submitForm(this)">Save</button>
                                            <button type="button" class="btn print-button form-submit" id="btn-submit"
                                                onclick="printForm(this)">Print</button>
                                            <button type="button" class="btn delete-button form-submit" id="btn-submit"
                                                onclick="deleteForm(this)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
<input type="hidden" id="urlupdatemainenance" value="@urlupdatemainenance">
<input type="hidden" id="urladdmainenance" value="@urladdmainenance">
<input type="hidden" id="urldeletemainenance" value="@urldeletemainenance">
<input type="hidden" id="urlgetmaintenancedetail" value="@urlgetmaintenancedetail">
<input type="hidden" id="urlmaintenanceprint" value="@urlmaintenanceprint">
<input type="hidden" id="urlgetassetdetail" value="@urlgetassetdetail">

@section Scripts {
    <script src="~/js/imr/maintenance.js"></script>
}
