@using SharedLayer;
@{
    ViewData["Title"] = "Print Maintenance";
    var maintenance = ViewData["Maintenance"] as MaintenanceData;
    var jsonmaintenance = Newtonsoft.Json.JsonConvert.SerializeObject(maintenance);
}
<div class="container-fluid">
    <div id="print-area">
        <table class="maintenance-print" id="maintenance-print-table">
            <tr>
                <td colspan="10" class="heading" style="width: 100%; background-color: #1f487c !important;">Valve
                    Maintenance</td>
                <td colspan="2" rowspan="4" class="no-padding text-center">
                    <img class="logo" src="~/lib/images/logo-square-new.jpg">
                </td>
            </tr>
            <tr>
                <td colspan="4" style="width: 30%;">Tag Number</td>
                <td colspan="2" style="width: 25%;">@maintenance.Asset.TagNo</td>
                <td colspan="2" style="width: 20%;">Maintenance Date</td>
                <td colspan="2" style="width: 20%;">@maintenance.MaintenanceDate</td>
            </tr>
            <tr>
                <td colspan="4">Business Area</td>
                <td colspan="2">@maintenance.Asset.BusinessArea</td>
            </tr>
            <tr>
                <td colspan="4">Platofrm</td>
                <td colspan="2">@maintenance.Asset.Platform</td>
                <td colspan="2">Valve Type</td>
                <td colspan="2">@maintenance.Asset.ValveType</td>
            </tr>
            <!-- Second section -->
            <tr>
                <td colspan="6" class="table-section">Valve Information</td>
                <td colspan="6" class="table-section">Process Information</td>
            </tr>
            <tr>
                <td colspan="4">P&ID Number</td>
                <td colspan="2">@maintenance.Asset.PIDNo</td>
                <td colspan="3">Operating Pressure (Psig)</td>
                <td colspan="3">@maintenance.Asset.OperatingPressure</td>
            </tr>
            <tr>
                <td colspan="4">Parent Equipment No.</td>
                <td colspan="2">@maintenance.Asset.ParentEquipmentNo</td>
                <td colspan="3">Operating Temperature (F)</td>
                <td colspan="3">@maintenance.Asset.OperatingTemperature</td>
            </tr>
            <tr>
                <td colspan="4">Parent Equipment Desc</td>
                <td colspan="2">@maintenance.Asset.ParentEquipmentDescription</td>
                <td colspan="3">Service Fluid</td>
                <td colspan="3">@maintenance.Asset.ServiceFluid</td>
            </tr>
            <tr>
                <td colspan="4">Size (Inch)</td>
                <td colspan="2">@maintenance.Asset.Size</td>
                <td colspan="3">Fluid Phase</td>
                <td colspan="3">@maintenance.Asset.FluidPhase</td>
            </tr>
            <tr>
                <td colspan="4">Class Rating</td>
                <td colspan="2">@maintenance.Asset.ClassRating</td>
                <td colspan="3">Toxic or Flamable Fluid</td>
                <td colspan="3">@maintenance.Asset.ToxicOrFlamableFluid</td>
            </tr>
            <tr>
                <td colspan="4">Installation Date</td>
                <td colspan="2">@maintenance.Asset.InstallationDate</td>
                <td colspan="6" class="table-section sub-section">Actuation</td>
            </tr>
            <tr>
                <td colspan="4">Manufacturer</td>
                <td colspan="2">@maintenance.Asset.Manufacturer</td>
                <td colspan="5">Pneumatic</td>
                <td colspan="1" class="checkbox">
                    <input type="checkbox" @(maintenance.Asset.Actuation.ToLower() == "pneumatic" ? "checked" : "")/>
                    
                </td>
            </tr>
            <tr>
                <td colspan="4">Body Material</td>
                <td colspan="2">@maintenance.Asset.BodyMaterial</td>
                <td colspan="5">Hydraulic</td>
                <td colspan="1" class="checkbox">
                    <input type="checkbox" @(maintenance.Asset.Actuation.ToLower() == "hydraulic" ? "checked" : "")/>
                </td>
            </tr>
            <tr>
                <td colspan="4">Approx. cost of replacement and repair (USD)</td>
                <td colspan="2">@maintenance.Asset.CostOfReplacementAndRepair</td>
                <td colspan="5">Manual Override</td>
                <td colspan="1" class="checkbox">
                    <input type="checkbox" @(maintenance.Asset.ManualOverrideID == 1 ? "checked" : "") />
                </td>
            </tr>
            <tr>
                <td colspan="6" class="table-section">Valve Maintenance</td>
                <td colspan="6" class="table-section sub-section">Usage Type</td>
            </tr>
            <tr>
                <td colspan="4">Is Valve Repaired</td>
                <td colspan="2">@maintenance.IsValveRepaired</td>
                <td colspan="5">Manual valve</td>
                <td colspan="1" class="checkbox">
                    <input type="checkbox" @(maintenance.Asset.UsageType.ToLower() == "manual valve" ? "checked" : "")/>
                </td>
            </tr>
            <tr>
                <td colspan="4">Maintenance Description</td>
                <td colspan="2">@maintenance.MaintenanceDescription</td>
                <td colspan="5">Auto On-Off Valve</td>
                <td colspan="1" class="checkbox">
                    <input type="checkbox" @(maintenance.Asset.UsageType.ToLower() == "auto on-off valve" ? "checked" : "")/>
                </td>
            </tr>
            <tr>
                <td rowspan="6" colspan="4">Maintenance image</td>
                <td rowspan="6" colspan="2">
                    @foreach (var image in maintenance.MaintenanceFiles) {
                        <img style="max-width: 100px;" src="/@image.FilePath"/>
                    }
                </td>
                <td colspan="5">Control Valve</td>
                <td colspan="1" class="checkbox">
                    <input type="checkbox" @(maintenance.Asset.UsageType.ToLower() == "control valve" ? "checked" : "")/>
                </td>
            </tr>
            <tr>
                <td colspan="5">PSV/PRV</td>
                <td colspan="1" class="checkbox">
                    <input type="checkbox" @(maintenance.Asset.UsageType.ToLower() == "psv/prv" ? "checked" : "")/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="table-section sub-section">Status</td>
            </tr>
            <tr>
                <td colspan="5">In-service</td>
                <td colspan="1" class="checkbox">
                    <input type="checkbox" @(maintenance.Asset.Status.ToLower() == "in-service" ? "checked" : "")/>
                </td>
            </tr>
            <tr>
                <td colspan="5">Waiting For Refurbishment</td>
                <td colspan="1" class="checkbox">
                    <input type="checkbox" @(maintenance.Asset.Status.ToLower() == "waiting for refurbishment" ? "checked" : "")/>
                </td>
            </tr>
            <tr>
                <td colspan="5">Spare</td>
                <td colspan="1" class="checkbox">
                    <input type="checkbox" @(maintenance.Asset.Status.ToLower() == "spare" ? "checked" : "")/>
                </td>
            </tr>
        </table>
    </div>
</div>
@section Scripts {
    <script src='~/js/printpage.js'></script>
    <link rel="stylesheet" href="~/css/maintenance/print.css" asp-append-version="true" />
}